<style type="text/css">

  .follow-header {
    padding: 50px 0px 20px 0px;
  }

  .social-btn {
    width: 80px;
  }

  .submit-btn {
    font-size: 1.4em;
  }

  .contact-header {
    font-weight: bold;
    font-size: 1.25em;
  }

</style>

<div class="row my-4">
  <div id="logo-container" class="col-md-6">
    <div class="mt-3 d-flex justify-content-center">
      <div id="logo" class="row"></div>
    </div>
  </div>
  <div class="col-md-6 text-center">
    <h4 class="mt-4 follow-header">Follow us on social media</h4>
    <a href="https://twitter.com/kidspeech_ca"><i class="social-btn fa fa-twitter"></i></a>
    <a href="https://www.linkedin.com/in/maria-scaringi/"><i class="social-btn fa fa-linkedin"></i></a>
    <a href="mailto:info@kidspeech.ca"><i class="social-btn fa fa-envelope"></i></a>
  </div>
</div>


<!-- <div class="row justify-content-center mt-4 mb-4">
  <div class="col-md-4">
    <div class="main-logo"></div>
  </div>
  <div class="col-md-8 text-center">
    <h2 class="mt-4">Contact Us</h2>
  </div>
</div> -->

<div class="row mb-4">
  <div class="col-md-12 mb-md-0 mb-5">
    <h5 class="contact-header mt-4 mb-4">Send us your questions</h5>
    <form id="contact-form" name="contact-form" action="api/v1/contact.php" method="POST">
      <div class="row">
        <div class="col-md-4">
          <div class="md-form mb-4">
            <input placeholder="Enter your name" type="text" name="fullname" id="tswname" class="form-control">
          </div>
        </div>
        <div class="col-md-4">
          <div class="md-form mb-4">
            <input placeholder="Enter your email" type="email" name="email" id="tswemail" class="form-control">
          </div>
        </div>
        <div class="col-md-4">
          <div class="md-form mb-4">
            <input placeholder="Enter your phone number" type="tel" name="phone" id="tswphone" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="md-form mb-4">
            <textarea placeholder="Enter your message" type="text" name="comments" id="tswcomments" rows="2" class="form-control md-textarea"></textarea>
          </div>
        </div>
      </div>
    </form>
    <div class="text-center">
      <a class="btn btn-primary submit-btn" onclick="document.getElementById('contact-form').submit();">Submit</a>
    </div>
  </div>
</div>

<hr>

<div class="row mb-4">
  <div class="col-md-4">

    <div class="bd-example">
      <address>
        <strong>KIDSPEECH™</strong><br>
        19 Larabee Cr., #1<br>
        Toronto, ON, CA<br>
        M3A 3E6<br>
        <br>

        Phone: <a href="tel:4164477325">(416) 447-7325</a><br>
        Fax: (416) 391-4078 <br>
        Email: <a href="mailto:info@kidspeech.ca">info@kidspeech.ca</a>
      </address>
    </div>

  </div>


  <div class="col-md-8">
    <iframe width="100%" height="190" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" id="border" src="https://maps.google.ca/maps?f=q&source=s_q&hl=en&geocode=&q=1-19+Larabee+Crescent,+Toronto,+Ontario&aq=&sll=43.753737,-79.332747&sspn=0.003937,0.009645&ie=UTF8&hq=&hnear=19+Larabee+Crescent,+Toronto,+Toronto+Division,+Ontario+M3A+3E6&t=m&ll=43.753117,-79.335365&spn=0.01178,0.029955&z=14&iwloc=A&output=embed"></iframe>
  </div>
</div>

<div class="row justify-content-center pt-4 mb-4">
  <img src="img/slogan.jpg">
</div>
