<h1 class="mt-4 mb-4">Contact</h1>

<div class="row mb-4">
  <div class="col-md-4 text-center">
    <h2>Maria Scaringi</h2>
    Founder<br>
    Speech-Language Pathologist<br>
    Rehabilitation Manager<br>
    Life Care Planner<br>
    Clinical Instructor
  </div>

  <div class="col-md-8 mb-md-0 mb-5">
    <h5>Questions?</h5>
    <form id="contact-form" name="contact-form" action="mail.php" method="POST">
      <div class="row">
        <div class="col-md-6">
          <div class="md-form mb-0">
            <input placeholder="Enter name" type="text" id="name" name="name" class="form-control">
            <label for="name" class="">Your name</label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="md-form mb-0">
            <input placeholder="Enter email" type="email" id="email" name="email" class="form-control">
            <label for="email" class="">Your email</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="md-form">
            <textarea placeholder="Enter message" type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
            <label for="message">Your message</label>
          </div>
        </div>
      </div>
    </form>
    <div class="text-center text-md-left">
      <a class="btn btn-outline-primary" onclick="document.getElementById('contact-form').submit();">Send</a>
    </div>
  </div>
</div>

<hr>

<div class="row mb-4">
  <div class="col-md-4">

    <div class="bd-example">
      <address>
        <strong>KIDSPEECH™</strong><br>
        1-19 Larabee Cr<br>
        Toronto, ON, CA<br>
        <br>

        Phone: <a href="tel:4164477325">(416) 44 SPEAK (447-7325)</a><br>
        Fax: (416) 391-4078 <br>
        Email: <a href="mailto:#">info@kidspeech.ca</a>
      </address>
    </div>

  </div>


  <div class="col-md-4">

<iframe width="300" height="190" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" id="border" src="https://maps.google.ca/maps?f=q&source=s_q&hl=en&geocode=&q=1-19+Larabee+Crescent,+Toronto,+Ontario&aq=&sll=43.753737,-79.332747&sspn=0.003937,0.009645&ie=UTF8&hq=&hnear=19+Larabee+Crescent,+Toronto,+Toronto+Division,+Ontario+M3A+3E6&t=m&ll=43.753117,-79.335365&spn=0.01178,0.029955&z=14&iwloc=A&output=embed"></iframe>

  </div>

  <div class="col-md-4">

    <p><strong>Follow Us On Social Media</strong></p>
    <i class="social-btn fa fa-twitter"></i>
    <i class="social-btn fa fa-facebook"></i>
    <i class="social-btn fa fa-linkedin"></i>
    <i class="social-btn fa fa-envelope"></i>

  </div>
</div>

<div class="row mb-4">

</div>