<style type="text/css">

  .follow-header {
    padding: 50px 0px 20px 0px;
  }

  .social-btn {
    width: 80px;
  }

  .submit-btn {
    font-size: 1.4em;
  }

  .contact-header {
    font-weight: bold;
    font-size: 1.25em;
  }

</style>

<div class="row my-4">
  <div id="logo-container" class="col-md-6">
    <div class="mt-3 d-flex justify-content-center">
      <div id="logo" class="row"></div>
    </div>
  </div>
  <div class="col-md-6 text-center">
    <h4 class="mt-4 follow-header">Follow us on social media</h4>
    <a href="https://twitter.com/kidspeech_ca"><i class="social-btn fa fa-twitter"></i></a>
    <a href="https://www.facebook.com/KIDSPEECH.CA"><i class="social-btn fa fa-facebook"></i></a>
    <a href="https://www.linkedin.com/in/maria-scaringi/"><i class="social-btn fa fa-linkedin"></i></a>
    <a href="mailto:info@kidspeech.ca"><i class="social-btn fa fa-envelope"></i></a>
  </div>
</div>

<p>There were errors in the form that you submitted.</p>
<p>Please complete all the requested information before submitting the form.</p>
<p>Click the 'Back' button on your browser to return to the form to fix the error.</p>