<style type="text/css">
  .text-small {
    font-size: 20px;
  }

  .text-highlight {
    color: #943634;
  }
</style>

<div class="row justify-content-center mt-4 mb-4">
  <div class="col-md-4">
    <div class="main-logo"></div>
  </div>
  <div class="col-md-8 text-center">
    <h2 class="mt-4">Community Service Initiatives</h2>
    <p class="mt-4">KIDSPEECH™ || <strong>Speech Pathology, Speech Therapy for Kids & Adults, Certified Life Care Plans<br>and Communication Intermediary Services available in Toronto, GTA and Canada.<br>Some services are available online through video conferencing.</strong></p>
  </div>
</div>

<h2>Annual Scholarship <span class="text-small">(from 2013 to 2020)</span></h2>


<p>The <strong>KIDSPEECH™</strong> &nbsp;Scholarship ($2,000) is administered and awarded annually by the <a href="http://sac-oac.ca/students/scholarships">Speech-Language &amp; Audiology Canada (SAC)/ Orthophonie et Audiologies Canada (OAC)</a> Scholarship Committee to a full-time student in a speech-language pathology master’s program, and is based on academic achievement, references, and an essay outlining career goals related to linguistic and cultural needs in children.&nbsp;</p>


<div class="row justify-content-center">
  <div class="col-md-4">
    <ul>
      <li><strong>2019 - Joanna Wiles</strong></li>
      <li><strong>2018 - Brianna Guild</strong></li>
      <li><strong>2017 - Sara Dubreuil-Piché</strong></li>
      <li><strong>2016 - Alyssa Wagner</strong></li>
    </ul>
  </div>
  <div class="col-md-4">
    <ul>
      <li><strong>2015 - Vanessa Blouin</strong></li>
      <li><strong>2014 - Andrea Tkalec</strong></li>
      <li><strong>2013 - Karine Millard</strong></li>
    </ul>
  </div>
  <div class="col-md-4">
    <img src="img/initiatives-sac.png" alt="">
  </div>
</div>

<hr>
<h4>
  <!-- <span class="text-highlight">NEW</span> —  -->
  <a href="https://www.mcgill.ca/scsd/channels/news/scaringi-lecture-series-speech-language-pathology-april-5-2022-330-pm-338612">Scaringi Lecture Series in Speech-Language Pathology, McGill University 2022</a>
</h4>
<hr>

<h4>
  <!-- <span class="text-highlight">NEW</span> —  -->
  Three Annual Scholarships
</h4>

SAC/OAC partnered with KIDSPEECH in 2020/1 to create three (3) new scholarships to open more doors for Canadian Speech-Language Pathologists. These new scholarships are: <strong>KIDSPEECH™ Leadership Scholarship</strong>, <strong>KIDSPEECH™ Doctoral Scholarship</strong> and <strong>KIDSPEECH™ Travelling Fellowship</strong>. Details about how to apply and qualify are found <a href="http://sac-oac.ca/students/scholarships">here.</a>

<hr>

<h4>Research & Development (R&D)</h4>

<ul>
  <li>Increasing parental awareness of their child’s speech and language milestones</li>
  <li>Technology applications for monitoring early speech and language milestones</li>
</ul>

<hr>

<h2><span style="color: rgb(255, 105, 253);">bras</span>recycled.com</h2>

<div class="row mb-4">
  <div class="col-md-9">
    <p><a href="http://brasrecycled.com/"><span style="color: rgb(255, 105, 253);">bras</span>recycled.com</a> is a project which Maria started in Toronto over ten years ago. She collects ‘used brassières’ for young girls and women around the globe who are otherwise unable to obtain one.  Since rape has been defined as a ‘power act’,  the simple act of wearing a bra for these young girls and women provides them with increased self-confidence and elevates their status thus reducing their chances of being raped and contracting HIV.</p>
    <p>Over the years Maria has sent thousands of bras to nurses’ and doctors’ offices, as well as high schools in numerous countries Africa, as well as Jamaica, the Phillipines,  Haiti, and Columbia to name a few.</p>
    <p>We have partnered with many organizations who host bra drives to bring awareness to the project so that we can all look into our drawers to find unwanted bras to donate.</p>
    <p>The magazine Neuroconnect whose focus is on rehabilitation and resources for individuals and professionals focussed attention on this initiative through several articles. To read these articles access the Neuroconnect magazine on their website <a target="outside" "="" href="http://www.neuroconnect.ca/">www.neuroconnect.ca</a>.</p>
    <p>For more details, call Maria (416-447-7325) or e-mail <a href="mailto:info@brasrecylced.com">info@brasrecylced.com</a>.</p>
  </div>
  <div class="col-md-3">
    <img src="img/initiatives-brasrecycled.png" alt="">
  </div>
</div>

<div class="row justify-content-center">
  <img src="img/initiatives-painting.jpg" alt="">
</div>

<div class="row justify-content-center pt-4 mb-4">
  <img src="img/slogan.jpg">
</div>