<!-- 0-2
2
2-4
4
6
8
10
12
14
16
16-18
20
22
28
32
34
36
48
60

Coos
Laughs
Babbles
Mama/Dada
1st Word
4-6 Single Words
Tells Needs
2-Word Sentences
50+ Single Words
Uses Nouns & Verbs
Talks in Sentences
Uses All Speech Sounds -->

<style>
  th {
    width: 50px;
    text-align: center;
  }
  td {
    width: 20px;
  }
  .item-name {
    width: 150px;
  }
  .checked {
    background-color: red;
  }
</style>

<div class="row justify-content-center mt-4 mb-4">
  <div class="col-md-4">
    <div class="main-logo"></div>
  </div>
  <div class="col-md-8 text-center">
    <h2 class="mt-4">Speech-Hearing Checklist</h2>
    <p class="mt-4">KIDSPEECH™ || <strong>Speech Pathology ('speech therapy for kids’),<br>Toronto and GTA Speech-Language Pathologists,<br>certified Life Care Planners - kids, teens, adults</strong></p>
  </div>
</div>

<table>
  <tr>
    <th>Expression</th>
    <th colspan="19">Age In Months</th>
  </tr>
  <tr>
    <th></th>
    <th>2</th>
    <th>2-4</th>
    <th>4</th>
    <th>6</th>
    <th>8</th>
    <th>10</th>
    <th>12</th>
    <th>14</th>
    <th>16</th>
    <th>16-18</th>
    <th>18</th>
    <th>20</th>
    <th>22</th>
    <th>28</th>
    <th>32</th>
    <th>34</th>
    <th>36</th>
    <th>48</th>
    <th>60</th>
  </tr>
  <tr>
    <td class="item-name">coos</td>
    <td class="checked"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td class="item-name">laughs</td>
    <td></td>
    <td class="checked"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td class="item-name">babbles</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="checked"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td class="item-name">mama/dada</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="checked"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td class="item-name">1st word</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="checked"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td class="item-name">4-6 single words</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="checked"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td class="item-name">tells needs</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="checked"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td class="item-name">2-word sentences</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="checked"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td class="item-name">50+ single words</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="checked"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td class="item-name">uses nouns &amp; verbs</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="checked"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td class="item-name">talks in sentences</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="checked"></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td class="item-name">uses all speech sounds</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="checked"></td>
  </tr>
</table>