<style type="text/css">

  .btn-primary {
    background-color: #24388d;
    border-color: #24388d;
  }

  .carousel-inner img {
    max-height: 400px;
    object-fit: cover;
  }

  #collage img {
    height: 175px;
    object-fit: cover;
  }

  #collage .row {
    /*padding-right: 30px;*/
  }

  .nopadding {
     padding: 0 !important;
     margin: 0 !important;
  }

  .npr {
    padding-right: 0 !important;
  }

  .npl {
    padding-left: 0 !important;
  }

  #logo {
    background-image: url('img/logo-390.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 180px;
    width: 100%;
  }

  #call-to-action {
    padding: 15px 30px 0px 30px;
    border-radius: 5px;
    margin: 40px 0px 40px 0px;
    font-size: 1.5em;
    line-height: 1.4;
  }

  .collage-cell {
    border: 2px solid white;
  }

  #logo-container {
    padding-right: 0;
    padding-left: 30px;
  }

  .highlight {
    color: red;
  }

  .exclamation {
    font-size: 1em;
  }

  .slogan {
    font-size: 1.1em;
    margin-top: 15px;
    margin-bottom: 45px;
  }

  #social-media {
    margin-bottom: 30px;
  }

</style>


<!-- Heading Row -->
<div class="row my-4">
  <div id="logo-container" class="col-lg-4">
    <div class="mt-3 d-flex justify-content-center">
      <div id="logo" class="row"></div>
    </div>
    <h4 class="text-center slogan"><span style="font-size: 1.3em">C</span>ommunication.....<em>more than</em> <span style="font-weight: 500; font-size: 1.3em;">H</span><span class="text-red" style="font-style: italic;">ear</span><span class="text-blue">say</span></h4>
    <div class="mt-3 d-flex justify-content-center">
      <a class="btn btn-primary" href="tel:4164477325"><i class="fa fa-phone"></i> Call Now</a>
      <a href=""><i class="social-btn fa fa-twitter"></i></a>
      <a href=""><i class="social-btn fa fa-facebook"></i></a>
      <a href=""><i class="social-btn fa fa-linkedin"></i></a>
      <a href=""><i class="social-btn fa fa-envelope"></i></a>
    </div>
  </div>
  <div id="collage" class="col-lg-8">
    <div class="row">
      <img class="collage-cell col-md-3 npr" src="img/two-kids-mom.jpg">
      <img class="collage-cell col-md-3 npl npr" src="img/arts-and-crafts-child.jpg">
      <img class="collage-cell col-md-3 npl npr" src="img/adult-baby-book.jpg">
      <img class="collage-cell col-md-3 npl " src="img/millenials.jpg">
      <img class="collage-cell col-md-3 npr" src="img/adult-ball-close-up-view.jpg">
      <img class="collage-cell col-md-3 npl npr" src="img/accurate-boy-build.jpg">
      <img class="collage-cell col-md-3 npl npr" src="img/black-and-white-boy-child.jpg">
      <img class="collage-cell col-md-3 npl" src="img/child-computer-cute.jpg">
    </div>
  </div>
</div>

<h3 id="call-to-action" class="text-center mt-4 mb-4">Speech, Language, Reading, Writing & Cognitive Communication services to all ages for 30 years.<br>
1988-2018</span>
</h3>

<div id="social-media" class="row justify-content-center">
</div>


<!-- Content Row -->
<div id="card-area" class="row">
  <div class="col-md-4 mb-4">
    <div class="card h-100">
      <div class="card-body">
        <h2 class="card-title">Speech Pathology</h2>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-primary">More Info</a>
      </div>
    </div>
  </div>
  <!-- /.col-md-4 -->
  <div class="col-md-4 mb-4">
    <div class="card h-100">
      <div class="card-body">
        <h2 class="card-title">Life Care Planning</h2>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-primary">More Info</a>
      </div>
    </div>
  </div>
  <!-- /.col-md-4 -->
  <div class="col-md-4 mb-4">
    <div class="card h-100">
      <div class="card-body">
        <h2 class="card-title">Rehabilitation</h2>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-primary">More Info</a>
      </div>
    </div>
  </div>
  <!-- /.col-md-4 -->
</div>

<hr>

<h1>Speech Pathology & Family Rehabilitation</h1>
<p>KIDSPEECH™ is a boutique speech pathology and life care plan private clinic established in 1988 in Toronto offering "Speech Therapy / Orthophonie" services to kids (infants, toddlers, and school age children), youths and adults.”</p>