<style type="text/css">

  .carousel-inner img {
    max-height: 400px;
    object-fit: cover;
  }

  #collage img {
    height: 175px;
    object-fit: cover;
  }

  #collage .row {
    /*padding-right: 30px;*/
  }

  .nopadding {
     padding: 0 !important;
     margin: 0 !important;
  }

  .npr {
    padding-right: 0 !important;
  }

  .npl {
    padding-left: 0 !important;
  }

  #call-to-action {
    padding: 15px 30px 0px 30px;
    border-radius: 5px;
    margin: 40px 0px 40px 0px;
    font-size: 1.5em;
    line-height: 1.4;
  }

  .collage-cell {
    border: 2px solid white;
  }

  #logo-container {
    padding-right: 0;
    padding-left: 30px;
  }

  .carousel-item .card {
    min-height: 200px;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 50px;
    border: none;
  }

  .carousel-control-next, .carousel-control-prev {
    background-color: #24388d;
    width: 50px;
  }

  #carouselExampleControls {
    min-height: 330px;
    border: 1px solid #24388d52;
  }

  #carouselExampleControls .card-title {
    font-size: 1.5em;
  }

  #carouselExampleControls .card-body {
    font-size: 1.25em;
  }

  .screening-btn {
    font-size: 1.5em;
  }
</style>


<!-- Heading Row -->
<div class="row my-4">
  <div id="logo-container" class="col-lg-4">
    <div class="mt-3 d-flex justify-content-center">
      <div id="logo" class="row"></div>
    </div>
    <img id="high-slogan" src="img/slogan.jpg">
    <!-- <h4 class="text-center slogan"><span style="font-size: 1.3em">C</span>ommunication.....<em>more than</em> <span style="font-weight: 500; font-size: 1.3em;">H</span><span class="text-red" style="font-style: italic;">ear</span><span class="text-blue">say</span></h4> -->
    <div class="mt-3 d-flex justify-content-center">
      <a class="btn btn-primary" href="tel:4164477325"><i class="fa fa-phone"></i> Call Now</a>
      <a href="https://twitter.com/kidspeech_ca"><i class="social-btn fa fa-twitter"></i></a>
      <a href="https://www.facebook.com/KIDSPEECH.CA"><i class="social-btn fa fa-facebook"></i></a>
      <a href="https://www.linkedin.com/in/maria-scaringi/"><i class="social-btn fa fa-linkedin"></i></a>
      <a href="mailto:info@kidspeech.ca"><i class="social-btn fa fa-envelope"></i></a>
    </div>
  </div>
  <div id="collage" class="col-lg-8">
    <div class="row">
      <img class="collage-cell col-md-3 npr" src="img/two-kids-mom.jpg">
      <img class="collage-cell col-md-3 npl npr" src="img/arts-and-crafts-child.jpg">
      <img class="collage-cell col-md-3 npl npr" src="img/adult-baby-book.jpg">
      <img class="collage-cell col-md-3 npl " src="img/millenials.jpg">
      <img class="collage-cell col-md-3 npr" src="img/adult-ball-close-up-view.jpg">
      <img class="collage-cell col-md-3 npl npr" src="img/accurate-boy-build.jpg">
      <img class="collage-cell col-md-3 npl npr" src="img/black-and-white-boy-child.jpg">
      <img class="collage-cell col-md-3 npl" src="img/child-computer-cute.jpg">
    </div>
  </div>
</div>

<h3 id="call-to-action" class="text-center mt-4 mb-4">Speech, Language, Reading, Writing, Cognitive Communication, Life Care Plans<br/>Rehabilitation & Communication Intermediary Services<br/> for children and adults since 1988<br>
</h3>

<div class="row">
  <div class="col-md-12 text-center">
    <p style="color: #943634;">Please use our interactive speech & language development checklist to screen your child before calling us.</p>
    <a class="btn btn-primary screening-btn" href="#!/checklist">Launch Screening Tool</a>
  </div>
</div>

<div id="social-media" class="row justify-content-center">
</div>

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title text-center">Speech-Language Pathology</h2>
          <p class="text-justify">We provide consultations, assessments, treatment, speech therapy and recommendations as required.<br/><br/>French/English services available. Parent training for babies 0 to 36 months.</p>
        </div>
        <div class="text-center mb-4">
          <a href="#!/services#speech-pathology" class="btn btn-primary"><em>read more</em></a>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title text-center">Life Care Plans</h2>
          <p class="text-justify">Our certified life care plans are available as requested. We remain highly skilled for pediatric cases and young adults with mild or catastrophic injuries as a result of a traffic accident, birth injuries (medical malpractice cases) or illness. Life care plans are also available in custody cases.</p>
        </div>
        <div class="text-center mb-4">
          <a href="#!/services#life-care-planning" class="btn btn-primary"><em>read more</em></a>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title text-center">Rehabilitation</h2>
          <p class="text-justify">We continue to provide rehabilitation case management and other services to children and adults in the community, school, or work environments.</p>
        </div>
        <div class="text-center mb-4">
          <a href="#!/services#rehabilitation" class="btn btn-primary"><em>read more</em></a>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title text-center">Independant/Expert Examinations</h2>
          <p class="text-justify">We provide independant medical examinations (IME) and expert witness and court representation for children and adults who sustained an injury in addition to providing independant assessments for medical-legal cases.</p>
        </div>
        <div class="text-center mb-4">
          <a href="#!/services#specialized-services" class="btn btn-primary"><em>read more</em></a>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title text-center">Communication Intermediary Services</h2>
          <p class="text-justify">We also provide Communication Intermediary Services for the vulnerable adult or child who has a speech and language disability and requires assistance when communicating with police, legal or justice professionals.</p>
        </div>
        <div class="text-center mb-4">
          <a href="#!/services#specialized-services" class="btn btn-primary"><em>read more</em></a>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<h2 class="mt-5">COVID-19 Update 2022</h2>

<p>Since the start of this global pandemic due to COVID-19, so much has changed. One thing that has not and will not change is our commitment to the children and parents we serve. Our top priority to provide continued Speech and Language Services remains of utmost importance to Kidspeech.</p>
<p>We acted decisively; adhering to all guidelines and directions set forth by provincial and regional health authorities, quickly implementing virtual services (Teletherapy) to all our clients, closing on-site services, following ongoing guidelines, and suspending all groups services to mitigate the spread of the virus and variants.</p>
<p>We all use gloves and perform hand sanitization before and after wearing gloves. We wear masks and face shields and disinfect areas (ie surface of table) and items (ie covers of books, pens) during in-person visits. Physical distancing is a must at all times. Covid screenings are used before each visit. If a client (child or adult) is unwell, the session is aborted. In-person visits occur namely in the community.</p>
<p>As we navigate the pandemic together, Kidspeech continues to monitor and follow advice from the public health authorities.</p>
<p>We encourage parents to call us so we can explain further how virtual services have helped so many of our clients since March 2020. In some cases, it can be beneficial  to do in-person in the community.</p>

<hr class="mt-5">

<h2 class="mt-4 mb-4 text-center">Medical Legal<br/>Non-Medical Legal Independent Evaluation (IE)<br/>Certified Life Care Plans</h2>

<p>With more than three decades of industry experience, we know how important reliability and credibility are for the insurance industry.</p>
<p>We provide Speech Pathology Independent Examinations (IE), Paper File  Reviews (PFR) and Expert Opinions. And certified Life Care Plans (LCP). Our work focuses on cognitive communication skills in children and adults. Our comprehensive reports are of high quality and rely on both qualitative and quantitative data.</p>
<p>The modalities addressed in our reports are: Expressive and Receptive Language skills, Articulation and Phonology, Fluency, Voice, Oral Peripheral Examination, Literacy and early literacy skills, Reading and Writing skills, Swallowing, Digital Literacy, Cognitive Communication (social, pragmatics, executive functions, and memory skills) to name a few areas.</p>
<p>Our Independent Examinations (IE) can be, in some case, be provided virtual so there is no transportation cost to the referral source. In other instances, hen virtual is not an option, we provide services by following strict COVID-19 safety precautions.</p>
<p>We complete a COVID-19 Screener prior to starting the assessment. The assessor wears a mask, gloves and faceshield. Hands are sanitized before and after the session. The areas are sanitized before and after leaving the premises. Physical distancing and wearing PPEs are a must throughout the session.</p>
<p>If the client reports feeling unwell, the session is immediately aborted and the information is reported to the office of the referral source.</p>
<p>We accept referrals for clients (babies, children, teens, adults or seniors) who experience difficulties after a concussion or an acquired brain injury or a spinal cord injury which could have occurred in a car accident, road accident such as while riding a bike, motor bike,  ski-doo, diving/ swimming, at birth (negligence),  during slips and falls, or in any other circumstances at home, school or in the community (sports).</p>
<p>Our Life Care Plans are often also requested by the legal community for the purpose of  setting up a trust for minors or in other circumstances for an adult with a disability.</p>

<hr class="mt-5">

<div class="row mb-4">
  <div class="col-md-12">
    <h4 class="text-center text-blue"><strong><em>Experience matters and our clients depend on it!</em></strong></h4>
  </div>
</div>