<style type="text/css">

  .carousel-inner img {
    max-height: 400px;
    object-fit: cover;
  }

  #collage img {
    height: 175px;
    object-fit: cover;
  }

  #collage .row {
    /*padding-right: 30px;*/
  }

  .nopadding {
     padding: 0 !important;
     margin: 0 !important;
  }

  .npr {
    padding-right: 0 !important;
  }

  .npl {
    padding-left: 0 !important;
  }

  #call-to-action {
    padding: 15px 30px 0px 30px;
    border-radius: 5px;
    margin: 40px 0px 40px 0px;
    font-size: 1.5em;
    line-height: 1.4;
  }

  .collage-cell {
    border: 2px solid white;
  }

  #logo-container {
    padding-right: 0;
    padding-left: 30px;
  }

  .carousel-item .card {
    min-height: 200px;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 50px;
    border: none;
  }

  .carousel-control-next, .carousel-control-prev {
    background-color: #24388d;
    width: 50px;
  }

  #carousel-controls {
    min-height: 330px;
    border: 1px solid #24388d52;
  }

  #carousel-controls .card-title {
    font-size: 1.5em;
  }

  #carousel-controls .card-body {
    font-size: 1.25em;
  }

  .screening-btn {
    font-size: 1.75em;
    font-weight: bold;
    font-style: normal;
    color: black !important;
    border: 8px solid #d3130f;
    background-color: white;
  }
</style>


<!-- Heading Row -->
<div class="row my-4">
  <div id="logo-container" class="col-lg-4">
    <div class="mt-3 d-flex justify-content-center">
      <div id="logo" class="row"></div>
    </div>
    <img id="high-slogan" src="img/slogan.jpg">
    <!-- <h4 class="text-center slogan"><span style="font-size: 1.3em">C</span>ommunication.....<em>more than</em> <span style="font-weight: 500; font-size: 1.3em;">H</span><span class="text-red" style="font-style: italic;">ear</span><span class="text-blue">say</span></h4> -->
    <div class="mt-3 d-flex justify-content-center">
      <a class="btn btn-primary" href="tel:4164477325"><i class="fa fa-phone"></i> Call Now</a>
      <a href="https://twitter.com/kidspeech_ca"><i class="social-btn fa fa-twitter"></i></a>
      <a href="https://www.linkedin.com/in/maria-scaringi/"><i class="social-btn fa fa-linkedin"></i></a>
      <a href="mailto:info@kidspeech.ca"><i class="social-btn fa fa-envelope"></i></a>
    </div>
  </div>
  <div id="collage" class="col-lg-8">
    <div class="row">
      <img class="collage-cell col-md-3 npr" src="img/two-kids-mom.jpg">
      <img class="collage-cell col-md-3 npl npr" src="img/arts-and-crafts-child.jpg">
      <img class="collage-cell col-md-3 npl npr" src="img/adult-baby-book.jpg">
      <img class="collage-cell col-md-3 npl " src="img/millenials.jpg">
      <img class="collage-cell col-md-3 npr" src="img/adult-ball-close-up-view.jpg">
      <img class="collage-cell col-md-3 npl npr" src="img/accurate-boy-build.jpg">
      <img class="collage-cell col-md-3 npl npr" src="img/black-and-white-boy-child.jpg">
      <img class="collage-cell col-md-3 npl" src="img/child-computer-cute.jpg">
    </div>
  </div>
</div>

<h3 id="call-to-action" class="text-center mt-4 mb-4">
  Speech- Language Pathology<br/>
  Expert Assessments & Opinions, Independent Examinations (IE)<br/>
  Certified Life Care Plans (LCP)<br>
  <span class="text-sm"><em>for children & adults since 1988</em></span>
</h3>

<div class="row mb-4">
  <div class="col-md-12 text-center">
    <!-- <p style="color: #943634;">Please use our interactive speech & language development checklist to screen your child before calling us.</p> -->
    <a class="btn btn-primary screening-btn" href="#!/checklist">Click Here To Launch Screening Tool</a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 text-center">
    <!-- <p style="color: #943634;">Please use our interactive speech & language development checklist to screen your child before calling us.</p> -->
    <a class="btn btn-primary screening-btn" href="did-the-child-have-a-birth-injury-march-2024.pdf">Was your child injured at birth?</a>
  </div>
</div>

<div id="social-media" class="row justify-content-center">
</div>

<div id="carousel-controls" class="carousel slide" data-ride="carousel" data-pause="hover">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title text-center">Speech-Language Pathology</h2>
          <p class="text-justify">We provide consultations, assessments, treatment, speech therapy and recommendations as required.<br/><br/>French/English services available. Parent training for babies 0 to 36 months.</p>
        </div>
        <div class="text-center mb-4">
          <a href="#!/services#speech-pathology" class="btn btn-primary"><em>read more</em></a>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title text-center">Life Care Plans</h2>
          <p class="text-justify">Our Certified Life Care Plans are available as requested. We remain highly skilled for pediatric cases and young adults with mild or catastrophic injuries as a result of a traffic accident, birth injuries (medical malpractice cases) or illness. Life care plans are also available in custody cases.</p>
        </div>
        <div class="text-center mb-4">
          <a href="#!/services#life-care-planning" class="btn btn-primary"><em>read more</em></a>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title text-center">Rehabilitation</h2>
          <p class="text-justify">We continue to provide rehabilitation case management and other services to children and adults in the community, school, or work environments.</p>
        </div>
        <div class="text-center mb-4">
          <a href="#!/services#rehabilitation" class="btn btn-primary"><em>read more</em></a>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title text-center">Medicolegal Expertise, Independant Examinations, Expert Opinion</h2>
          <p class="text-justify">We provide Expert Assessments and Opinions, Court Representation & Independent Examinations for children and adults.<br/>We are highly experienced in handling very complex medicolegal cases for either plaintiff or defense lawyers.</p>
        </div>
        <div class="text-center mb-4">
          <a href="#!/services#specialized-services" class="btn btn-primary"><em>read more</em></a>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title text-center">Communication Intermediary Services</h2>
          <p class="text-justify">We also provide Communication Intermediary Services for the vulnerable adult or child who has a speech and language disability and requires assistance when communicating with police, legal or justice professionals.</p>
        </div>
        <div class="text-center mb-4">
          <a href="#!/services#specialized-services" class="btn btn-primary"><em>read more</em></a>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carousel-controls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel-controls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<h4 class="mt-5"><em>*Members of CASLPO, SAC, ASHA, ANCDS, CVRP, VRA, ICHCC</em></h4>

<hr class="mt-5">

<h2 class="mt-5">COVID-19 Update 2025</h2>

<p>Since the start of the global pandemic due to COVID-19, so much has changed. One thing that has not and will not change is our commitment to the children and parents we serve. Our top priority is to monitor and follow advice from the public health authorities.</p>

<hr class="mt-5">

<h2 class="mt-4 mb-4 text-center">Medicolegal Expertise<br/>Non-Medical Legal Independent Evaluation (IE)<br/>Certified Life Care Plans</h2>

<p>With more than three decades of industry experience, we know how important reliability and credibility are for the insurance industry.</p>
<p>We provide Speech Pathology Independent Examinations (IE), Paper File Reviews (PFR), Expert Opinions, and certified Life Care Plans (LCP). Our work focuses on cognitive communication skills in children and adults. Our comprehensive reports are of high quality and rely on both qualitative and quantitative data.</p>
<p>The modalities addressed in our reports are: Expressive and Receptive Language skills, Articulation and Phonology, Fluency, Voice, Oral Peripheral Examination, Literacy and Early Literacy skills, Reading and Writing skills, Swallowing, Digital Literacy, and Cognitive Communication (social, pragmatics, executive functions, and memory skills) to name a few areas.</p>
<p>Our Independent Examinations (IE) can, in some cases, be provided virtually so there is no transportation cost to the referral source. In other instances, when virtual is not an option, we provide services by following strict COVID-19 safety precautions.</p>
<p>We accept referrals for clients (babies, children, teens, adults or seniors) who experience difficulties after a concussion, an acquired brain injury, or a spinal cord injury which could have occurred in a car accident, road accident such as while riding a bike, motor bike, ski-doo, diving/swimming, at birth (negligence), during slips and falls, or in any other circumstances at home, school or in the community (sports).</p>
<p>Our Life Care Plans are often also requested by the legal community for the purpose of setting up a trust for minors or in other circumstances for an adult with a disability.</p>

<hr class="mt-5">

<div class="row mb-4">
  <div class="col-md-12">
    <h4 class="text-center text-blue"><strong><em>Experience matters and our clients depend on it!</em></strong></h4>
  </div>
</div>
