<style>
  .about-us-content p {
    text-align: justify;
  }
  .bio-pic {
    float: right;
    padding: 0px 20px 20px 20px;
    text-align: center;
  }
  .bio-pic-name {
    font-weight: bold;
    font-size: 0.9em;
    padding: 5px;
  }
</style>

<div class="row justify-content-center mt-4 mb-4">
  <div class="col-md-4">
    <div class="main-logo"></div>
  </div>
  <div class="col-md-8 text-center">
    <h2 class="mt-4">About Us</h2>
    <p class="mt-4">KIDSPEECH™ || <strong>Speech Pathology, Speech Therapy for Kids & Adults, Certified Life Care Plans<br>and Communication Intermediary Services available in Toronto, GTA and Canada.<br>Some services are available online through video conferencing.</strong></p>
  </div>
</div>

<div class="about-us-content row justify-content-center">
  <div class="col-md-9">
    <div class="bio-pic">
      <img src="img/about-us-maria.jpg" alt="">
      <div class="bio-pic-name">Maria Scaringi</div>
    </div>
    <p>
      <strong>KIDSPEECH™</strong> has been serving both children and adults since 1988. The founder, Maria Scaringi, is a registered Speech-Language Pathologist and a certified Canadian Life Care Planner who has worked with thousands of clients over the past three decades.<br><br>
      Originally from Montreal, Maria studied at McGill University and Clarion University of Pennsylvania where she was the recipient of several scholarships. She has lived and worked in Toronto, since 1985 and founded <strong>KIDSPEECH™</strong> in 1988 as a boutique private clinic for clients of all ages with communication difficulties and associated injuries. Over the years numerous consultants have joined forces with Maria enabling <strong>KIDSPEECH™</strong> to provide a wide range of additional services beneficial to both children and adults.<br><br>
      Our early clientèle in the late 80s believed in the services that <strong>KIDSPEECH™</strong> provided and referred others who then in return referred additional satisfied clients who accessed screenings and assessments. This was how <strong>KIDSPEECH™</strong> was founded some 30 years ago.
    </p>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-9">
    <hr>
    <h2>Did You Know?</h2>
    <ul>
      <li><strong>KIDSPEECH™</strong> provides service in English, French, Spanish, Italian, Portuguese and Dari (Farsi).</li>
      <li>Your employer/employee benefit package may cover our services. We provide official receipts after each session.</li>
      <li>You can claim our fees as a medical expense on tax returns.</li>
      <li>Auto and Home Insurance can cover our fees in cases of injury.</li>
      <li>You can check with your legal representative in cases of medical malpractice and other related matters such as injuries at birth.</li>
      <li>There may be benefits of a Life Care Plan for yourself and for your child(ren) in estate planning or tort settlements.</li>
      <li>You may check for additional disability deductions available from the Canada Revenue Agency.</li>
      <li>You can see us while remaining on a waiting list for public services.</li>
      <li>We are flexible.You can treat us like your family doctor and come for guidance when you have questions and concerns.</li>
      <li>We have specialized training to work with vulnerable children and adults who need help to communicate with lawyers, police and judicial professionals.</li>
    </ul>
  </div>
</div>

<div class="row justify-content-center pt-4 mb-4">
  <img src="img/slogan.jpg">
</div>