<style>
  .about-us-content p {
    text-align: justify;
  }
  .bio-pic {
    float: right;
    padding: 0px 20px 20px 20px;
    text-align: center;
  }
  .bio-pic-name {
    font-weight: bold;
    font-size: 0.9em;
    padding: 5px;
  }
  .blog-link {
    cursor: pointer;
  }
  .blog-link:hover {
    opacity: 0.75;
  }
  .blog-link:active {
    opacity: 0.5;
  }
  .blog-links a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }
</style>

<div class="row justify-content-center mt-4 mb-4">
  <div class="col-md-4">
    <div class="main-logo"></div>
  </div>
  <div class="col-md-8 text-center">
    <h2 class="mt-4">Blog</h2>
    <p class="mt-4">KIDSPEECH™ || <strong>Speech Pathology, Speech Therapy for Kids, Certified Life Care Plans<br>and Communication Intermediary Services available in Toronto, GTA and Canada.<br>Some services are available online through video conferencing.</strong></p>
  </div>
</div>

<div class="blog-links row justify-content-center">
  <div class="col-md-9">
    <a href="warm-winter-wishes.pdf">
      <div class="card mb-4 blog-link">
        <div class="card-body">
          <h5 class="card-title">Warm Winter Wishes to and from Kidspeech</h5>
          <p class="card-text">KIDSPEECH - December 2021</p>
        </div>
      </div>
    </a>
    <a href="its-never-too-early-to-read-to-your-baby-child.pdf">
      <div class="card mb-4 blog-link">
        <div class="card-body">
          <h5 class="card-title">It’s Never Too Early To Read To Your Baby/Child</h5>
          <p class="card-text">Maria Scaringi & Zamzam Faiz, Speech-Language Pathologists, KIDSPEECH - October 2021</p>
        </div>
      </div>
    </a>
    <a href="what-is-teletherapy.pdf">
      <div class="card mb-4 blog-link">
        <div class="card-body">
          <h5 class="card-title">What is Teletherapy?</h5>
          <p class="card-text">KIDSPEECH - October 2021</p>
        </div>
      </div>
    </a>
    <a href="your-guide-to-babys-first-100-words.pdf">
      <div class="card mb-4 blog-link">
        <div class="card-body">
          <h5 class="card-title">Your Guide To Baby’s First 100 Words</h5>
          <p class="card-text">Maria Scaringi, Speech-Language Pathologist - Fall 2021</p>
        </div>
      </div>
    </a>
    <a href="did-you-know-personality-changes-are-common-after-a-stroke.pdf">
      <div class="card mb-4 blog-link">
        <div class="card-body">
          <h5 class="card-title">Did you know that Personality changes are common after a Stroke?</h5>
          <p class="card-text">Maria Scaringi - July 2021</p>
        </div>
      </div>
    </a>
    <a href="when-do-babies-say-their-first-words.pdf">
      <div class="card mb-4 blog-link">
        <div class="card-body">
          <h5 class="card-title">When Do Babies Say Their First Words?</h5>
          <p class="card-text">Spring 2021</p>
        </div>
      </div>
    </a>
  </div>
</div>

<div class="row justify-content-center pt-4 mb-4">
  <img src="img/slogan.jpg">
</div>