<style>
  th {
    width: 50px;
    text-align: center;
  }

  td {
    width: 20px;
    border-right: 1px solid #e5e5e5;
    cursor: pointer;
  }

  tr {
    border-bottom: 1px solid #e5e5e5;
    height: 35px;
  }

  .item-name {
    width: 200px;
    /*text-transform: uppercase;*/
    font-weight: bold;
    font-size: 1em;
  }

  .chart-check {
    width: 20px;
    height: 20px;
    background-color: #2B4296;
    border-radius: 30px;
    margin: 0 auto;
  }

  .section-btn {
    background-color: white;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    padding: 15px;
    font-size: 1.1em;
    border-radius: 5px;
    color: #2B4296;
    cursor: pointer;
    border: 1px solid #2B4296;
    transition: 300ms ease-in-out all;
  }

  .section-btn-selected {
    background-color: #2B4296;
    color: white;
  }

  .section-btn:hover {
    opacity: 0.75;
  }

  .card-title {
    text-align: center;
    padding: 20px;
    padding-bottom: 0px;
    margin-bottom: 0;
  }

  .card {
    background-color: #24388d;
    color: white;
  }

  .card-body ul {
    font-size: 1.25em;
  }

  .check-red {
    background-color: #A35A59;
  }

  .age-selected {
    background-color: #24388d;
    color: white;
  }

  .checklist-help .card {
    border: 1px solid #24388d;
    color: #24388d;
    background-color: white;
  }
</style>

<div class="row justify-content-center mt-4 mb-4">
  <div class="col-md-4">
    <div class="main-logo"></div>
  </div>
  <div class="col-md-8 text-center">
    <h2 class="mt-4">Speech & Language Development Checklist</h2>
    <p class="mt-4">KIDSPEECH™ || Speech Pathology, Speech Therapy for Kids &amp; Adults, Life Care Plans, Medicolegal Expertise Toronto, GTA &amp; Canada</p>
  </div>
</div>

<!-- <h1>Selected Age: {{currentAge}}</h1> -->
<div class="row justify-content-center">
  <div class="section-btn" ng-click="currentSection = 0" ng-class="{'section-btn-selected': currentSection == 0}">Communication / Expressive Skills</div>
  <div class="section-btn" ng-click="currentSection = 1" ng-class="{'section-btn-selected': currentSection == 1}">Social / Emotional</div>
  <div class="section-btn" ng-click="currentSection = 2" ng-class="{'section-btn-selected': currentSection == 2}">Cognition: learning, thinking & problem-solving</div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4 class="text-center m-4" style="color: #943634;">Click on the different dots and scroll down to learn more</h4>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-12">
    <table ng-show="currentSection == 0">
      <tr>
        <th>Age In Months: </th>
        <th ng-class="{'age-selected': currentAge == 0}">< 2</th>
        <th ng-class="{'age-selected': currentAge == 2}">2</th>
        <th ng-class="{'age-selected': currentAge == 3}">3</th>
        <th ng-class="{'age-selected': currentAge == 4}">4</th>
        <th ng-class="{'age-selected': currentAge == 6}">6</th>
        <th ng-class="{'age-selected': currentAge == 9}">9</th>
        <th ng-class="{'age-selected': currentAge == 12}">12</th>
        <th ng-class="{'age-selected': currentAge == 16}">16</th>
        <th ng-class="{'age-selected': currentAge == 18}">18</th>
        <th ng-class="{'age-selected': currentAge == 28}">28</th>
        <th ng-class="{'age-selected': currentAge == 32}">32</th>
        <th ng-class="{'age-selected': currentAge == 34}">34</th>
        <th ng-class="{'age-selected': currentAge == 36}">36</th>
      </tr>
      <tr>
        <td class="item-name">coos</td>
        <td ng-click="selectAge(0)"></td>
        <td ng-click="selectAge(1)"><div class="chart-check"></div></td>
        <td ng-click="selectAge(2)"></td>
        <td ng-click="selectAge(3)"></td>
        <td ng-click="selectAge(4)"></td>
        <td ng-click="selectAge(6)"></td>
        <td ng-click="selectAge(7)"></td>
        <td ng-click="selectAge(9)"></td>
        <td ng-click="selectAge(11)"></td>
        <td ng-click="selectAge(14)"></td>
        <td ng-click="selectAge(15)"></td>
        <td ng-click="selectAge(16)"></td>
        <td ng-click="selectAge(17)"></td>
      </tr>
      <tr>
        <td class="item-name">laughs</td>
        <td ng-click="selectAge(0)"></td>
        <td ng-click="selectAge(1)"></td>
        <td ng-click="selectAge(2)"><div class="chart-check"></div></td>
        <td ng-click="selectAge(3)"></td>
        <td ng-click="selectAge(4)"></td>
        <td ng-click="selectAge(6)"></td>
        <td ng-click="selectAge(7)"></td>
        <td ng-click="selectAge(9)"></td>
        <td ng-click="selectAge(11)"></td>
        <td ng-click="selectAge(14)"></td>
        <td ng-click="selectAge(15)"></td>
        <td ng-click="selectAge(16)"></td>
        <td ng-click="selectAge(17)"></td>
      </tr>
      <tr>
        <td class="item-name">babbles</td>
        <td ng-click="selectAge(0)"></td>
        <td ng-click="selectAge(1)"></td>
        <td ng-click="selectAge(2)"></td>
        <td ng-click="selectAge(3)"></td>
        <td ng-click="selectAge(4)"><div class="chart-check"></div></td>
        <td ng-click="selectAge(6)"></td>
        <td ng-click="selectAge(7)"></td>
        <td ng-click="selectAge(9)"></td>
        <td ng-click="selectAge(11)"></td>
        <td ng-click="selectAge(14)"></td>
        <td ng-click="selectAge(15)"></td>
        <td ng-click="selectAge(16)"></td>
        <td ng-click="selectAge(17)"></td>
      </tr>
      <tr>
        <td class="item-name">mama/dada</td>
        <td ng-click="selectAge(0)"></td>
        <td ng-click="selectAge(1)"></td>
        <td ng-click="selectAge(2)"></td>
        <td ng-click="selectAge(3)"></td>
        <td ng-click="selectAge(4)"></td>
        <td ng-click="selectAge(6)"><div class="chart-check"></div></td>
        <td ng-click="selectAge(7)"></td>
        <td ng-click="selectAge(9)"></td>
        <td ng-click="selectAge(11)"></td>
        <td ng-click="selectAge(14)"></td>
        <td ng-click="selectAge(15)"></td>
        <td ng-click="selectAge(16)"></td>
        <td ng-click="selectAge(17)"></td>
      </tr>
      <tr>
        <td class="item-name">1st word</td>
        <td ng-click="selectAge(0)"></td>
        <td ng-click="selectAge(1)"></td>
        <td ng-click="selectAge(2)"></td>
        <td ng-click="selectAge(3)"></td>
        <td ng-click="selectAge(4)"></td>
        <td ng-click="selectAge(6)"></td>
        <td ng-click="selectAge(7)"><div class="chart-check"></div></td>
        <td ng-click="selectAge(9)"></td>
        <td ng-click="selectAge(11)"></td>
        <td ng-click="selectAge(14)"></td>
        <td ng-click="selectAge(15)"></td>
        <td ng-click="selectAge(16)"></td>
        <td ng-click="selectAge(17)"></td>
      </tr>
      <tr>
        <td class="item-name">4-6 single words & eye contact</td>
        <td ng-click="selectAge(0)"></td>
        <td ng-click="selectAge(1)"></td>
        <td ng-click="selectAge(2)"></td>
        <td ng-click="selectAge(3)"></td>
        <td ng-click="selectAge(4)"></td>
        <td ng-click="selectAge(6)"></td>
        <td ng-click="selectAge(7)"><div class="chart-check"></div></td>
        <td ng-click="selectAge(9)"></td>
        <td ng-click="selectAge(11)"></td>
        <td ng-click="selectAge(14)"></td>
        <td ng-click="selectAge(15)"></td>
        <td ng-click="selectAge(16)"></td>
        <td ng-click="selectAge(17)"></td>
      </tr>
      <tr>
        <td class="item-name">tells needs</td>
        <td ng-click="selectAge(0)"></td>
        <td ng-click="selectAge(1)"></td>
        <td ng-click="selectAge(2)"></td>
        <td ng-click="selectAge(3)"></td>
        <td ng-click="selectAge(4)"></td>
        <td ng-click="selectAge(6)"></td>
        <td ng-click="selectAge(7)"></td>
        <td ng-click="selectAge(9)"></td>
        <td ng-click="selectAge(11)"><div class="chart-check"></div></td>
        <td ng-click="selectAge(14)"></td>
        <td ng-click="selectAge(15)"></td>
        <td ng-click="selectAge(16)"></td>
        <td ng-click="selectAge(17)"></td>
      </tr>
      <tr>
        <td class="item-name">2-word sentences</td>
        <td ng-click="selectAge(0)"></td>
        <td ng-click="selectAge(1)"></td>
        <td ng-click="selectAge(2)"></td>
        <td ng-click="selectAge(3)"></td>
        <td ng-click="selectAge(4)"></td>
        <td ng-click="selectAge(6)"></td>
        <td ng-click="selectAge(7)"></td>
        <td ng-click="selectAge(9)"></td>
        <td ng-click="selectAge(11)"><div class="chart-check"></div></td>
        <td ng-click="selectAge(14)"></td>
        <td ng-click="selectAge(15)"></td>
        <td ng-click="selectAge(16)"></td>
        <td ng-click="selectAge(17)"></td>
      </tr>
      <tr>
        <td class="item-name">50+ single words</td>
        <td ng-click="selectAge(0)"></td>
        <td ng-click="selectAge(1)"></td>
        <td ng-click="selectAge(2)"></td>
        <td ng-click="selectAge(3)"></td>
        <td ng-click="selectAge(4)"></td>
        <td ng-click="selectAge(6)"></td>
        <td ng-click="selectAge(7)"></td>
        <td ng-click="selectAge(9)"></td>
        <td ng-click="selectAge(11)"><div class="chart-check"></div></td>
        <td ng-click="selectAge(14)"><div class="chart-check"></div></td>
        <td ng-click="selectAge(15)"></td>
        <td ng-click="selectAge(16)"></td>
        <td ng-click="selectAge(17)"></td>
      </tr>
      <tr>
        <td class="item-name">uses nouns &amp; verbs</td>
        <td ng-click="selectAge(0)"></td>
        <td ng-click="selectAge(1)"></td>
        <td ng-click="selectAge(2)"></td>
        <td ng-click="selectAge(3)"></td>
        <td ng-click="selectAge(4)"></td>
        <td ng-click="selectAge(6)"></td>
        <td ng-click="selectAge(7)"></td>
        <td ng-click="selectAge(9)"></td>
        <td ng-click="selectAge(11)"></td>
        <td ng-click="selectAge(14)"></td>
        <td ng-click="selectAge(15)"><div class="chart-check"></div></td>
        <td ng-click="selectAge(16)"></td>
        <td ng-click="selectAge(17)"></td>
      </tr>
      <tr>
        <td class="item-name">talks in sentences</td>
        <td ng-click="selectAge(0)"></td>
        <td ng-click="selectAge(1)"></td>
        <td ng-click="selectAge(2)"></td>
        <td ng-click="selectAge(3)"></td>
        <td ng-click="selectAge(4)"></td>
        <td ng-click="selectAge(6)"></td>
        <td ng-click="selectAge(7)"></td>
        <td ng-click="selectAge(9)"></td>
        <td ng-click="selectAge(11)"></td>
        <td ng-click="selectAge(14)"></td>
        <td ng-click="selectAge(15)"></td>
        <td ng-click="selectAge(16)"></td>
        <td ng-click="selectAge(17)"><div class="chart-check"></div></td>
      </tr>
      <tr>
        <td class="item-name">uses all speech sounds</td>
        <td ng-click="selectAge(0)"></td>
        <td ng-click="selectAge(1)"></td>
        <td ng-click="selectAge(2)"></td>
        <td ng-click="selectAge(3)"></td>
        <td ng-click="selectAge(4)"></td>
        <td ng-click="selectAge(6)"></td>
        <td ng-click="selectAge(7)"></td>
        <td ng-click="selectAge(9)"></td>
        <td ng-click="selectAge(11)"></td>
        <td ng-click="selectAge(14)"></td>
        <td ng-click="selectAge(15)"></td>
        <td ng-click="selectAge(16)"></td>
        <td ng-click="selectAge(17)"><div class="chart-check"></td>
      </tr>
    </table>

    <table ng-show="currentSection == 1">
      <tr>
        <th>Age In Months: </th>
        <th ng-class="{'age-selected': currentAge == 0}">< 2</th>
        <th ng-class="{'age-selected': currentAge == 2}">2</th>
        <th ng-class="{'age-selected': currentAge == 3}">3</th>
        <th ng-class="{'age-selected': currentAge == 4}">4</th>
        <th ng-class="{'age-selected': currentAge == 6}">6</th>
        <th ng-class="{'age-selected': currentAge == 9}">9</th>
        <th ng-class="{'age-selected': currentAge == 12}">12</th>
        <th ng-class="{'age-selected': currentAge == 16}">16</th>
        <th ng-class="{'age-selected': currentAge == 18}">18</th>
        <th ng-class="{'age-selected': currentAge == 28}">28</th>
        <th ng-class="{'age-selected': currentAge == 32}">32</th>
        <th ng-class="{'age-selected': currentAge == 34}">34</th>
        <th ng-class="{'age-selected': currentAge == 36}">36</th>
      </tr>
      <tr>
        <td class="item-name">responds to voice</td>
        <td ng-click="selectAge(0)"><div class="chart-check"></div></td>
        <td ng-click="selectAge(1)"></td>
        <td ng-click="selectAge(2)"></td>
        <td ng-click="selectAge(3)"></td>
        <td ng-click="selectAge(4)"></td>
        <td ng-click="selectAge(6)"></td>
        <td ng-click="selectAge(7)"></td>
        <td ng-click="selectAge(9)"></td>
        <td ng-click="selectAge(11)"></td>
        <td ng-click="selectAge(14)"></td>
        <td ng-click="selectAge(15)"></td>
        <td ng-click="selectAge(16)"></td>
        <td ng-click="selectAge(17)"></td>
      </tr>
      <tr>
        <td class="item-name">differs sounds</td>
        <td ng-click="selectAge(0)"></td>
        <td ng-click="selectAge(1)"><div class="chart-check"></div></td>
        <td ng-click="selectAge(2)"></td>
        <td ng-click="selectAge(3)"></td>
        <td ng-click="selectAge(4)"></td>
        <td ng-click="selectAge(6)"></td>
        <td ng-click="selectAge(7)"></td>
        <td ng-click="selectAge(9)"></td>
        <td ng-click="selectAge(11)"></td>
        <td ng-click="selectAge(14)"></td>
        <td ng-click="selectAge(15)"></td>
        <td ng-click="selectAge(16)"></td>
        <td ng-click="selectAge(17)"></td>
      </tr>
      <tr>
        <td class="item-name">responds to "no"</td>
        <td ng-click="selectAge(0)"></td>
        <td ng-click="selectAge(1)"></td>
        <td ng-click="selectAge(2)"></td>
        <td ng-click="selectAge(3)"></td>
        <td ng-click="selectAge(4)"><div class="chart-check"></div></td>
        <td ng-click="selectAge(6)"></td>
        <td ng-click="selectAge(7)"></td>
        <td ng-click="selectAge(9)"></td>
        <td ng-click="selectAge(11)"></td>
        <td ng-click="selectAge(14)"></td>
        <td ng-click="selectAge(15)"></td>
        <td ng-click="selectAge(16)"></td>
        <td ng-click="selectAge(17)"></td>
      </tr>
      <tr>
        <td class="item-name">1-step command</td>
        <td ng-click="selectAge(0)"></td>
        <td ng-click="selectAge(1)"></td>
        <td ng-click="selectAge(2)"></td>
        <td ng-click="selectAge(3)"></td>
        <td ng-click="selectAge(4)"></td>
        <td ng-click="selectAge(6)"></td>
        <td ng-click="selectAge(7)"><div class="chart-check"></div></td>
        <td ng-click="selectAge(9)"></td>
        <td ng-click="selectAge(11)"></td>
        <td ng-click="selectAge(14)"></td>
        <td ng-click="selectAge(15)"></td>
        <td ng-click="selectAge(16)"></td>
        <td ng-click="selectAge(17)"></td>
      </tr>
      <tr>
        <td class="item-name">points to body parts</td>
        <td ng-click="selectAge(0)"></td>
        <td ng-click="selectAge(1)"></td>
        <td ng-click="selectAge(2)"></td>
        <td ng-click="selectAge(3)"></td>
        <td ng-click="selectAge(4)"></td>
        <td ng-click="selectAge(6)"></td>
        <td ng-click="selectAge(7)"></td>
        <td ng-click="selectAge(9)"><div class="chart-check"></div></td>
        <td ng-click="selectAge(11)"></td>
        <td ng-click="selectAge(14)"></td>
        <td ng-click="selectAge(15)"></td>
        <td ng-click="selectAge(16)"></td>
        <td ng-click="selectAge(17)"></td>
      </tr>
      <tr>
        <td class="item-name">maintains eye contact</td>
        <td ng-click="selectAge(0)"></td>
        <td ng-click="selectAge(1)"></td>
        <td ng-click="selectAge(2)"></td>
        <td ng-click="selectAge(3)"></td>
        <td ng-click="selectAge(4)"></td>
        <td ng-click="selectAge(6)"></td>
        <td ng-click="selectAge(7)"></td>
        <td ng-click="selectAge(9)"></td>
        <td ng-click="selectAge(11)"><div class="chart-check"></div></td>
        <td ng-click="selectAge(14)"></td>
        <td ng-click="selectAge(15)"></td>
        <td ng-click="selectAge(16)"></td>
        <td ng-click="selectAge(17)"></td>
      </tr>
      <tr>
        <td class="item-name">2-step command</td>
        <td ng-click="selectAge(0)"></td>
        <td ng-click="selectAge(1)"></td>
        <td ng-click="selectAge(2)"></td>
        <td ng-click="selectAge(3)"></td>
        <td ng-click="selectAge(4)"></td>
        <td ng-click="selectAge(6)"></td>
        <td ng-click="selectAge(7)"></td>
        <td ng-click="selectAge(9)"></td>
        <td ng-click="selectAge(11)"><div class="chart-check"></div></td>
        <td ng-click="selectAge(14)"></td>
        <td ng-click="selectAge(15)"></td>
        <td ng-click="selectAge(16)"></td>
        <td ng-click="selectAge(17)"></td>
      </tr>
      <tr>
        <td class="item-name">points to objects described by use</td>
        <td ng-click="selectAge(0)"></td>
        <td ng-click="selectAge(1)"></td>
        <td ng-click="selectAge(2)"></td>
        <td ng-click="selectAge(3)"></td>
        <td ng-click="selectAge(4)"></td>
        <td ng-click="selectAge(6)"></td>
        <td ng-click="selectAge(7)"></td>
        <td ng-click="selectAge(9)"></td>
        <td ng-click="selectAge(11)"></td>
        <td ng-click="selectAge(14)"></td>
        <td ng-click="selectAge(15)"></td>
        <td ng-click="selectAge(16)"></td>
        <td ng-click="selectAge(17)"></td>
      </tr>
      <tr>
        <td class="item-name">complex commands</td>
        <td ng-click="selectAge(0)"></td>
        <td ng-click="selectAge(1)"></td>
        <td ng-click="selectAge(2)"></td>
        <td ng-click="selectAge(3)"></td>
        <td ng-click="selectAge(4)"></td>
        <td ng-click="selectAge(6)"></td>
        <td ng-click="selectAge(7)"></td>
        <td ng-click="selectAge(9)"></td>
        <td ng-click="selectAge(11)"></td>
        <td ng-click="selectAge(14)"></td>
        <td ng-click="selectAge(15)"><div class="chart-check"></div></td>
        <td ng-click="selectAge(16)"></td>
        <td ng-click="selectAge(17)"></td>
      </tr>
      <tr>
        <td class="item-name">what? who?</td>
        <td ng-click="selectAge(0)"></td>
        <td ng-click="selectAge(1)"></td>
        <td ng-click="selectAge(2)"></td>
        <td ng-click="selectAge(3)"></td>
        <td ng-click="selectAge(4)"></td>
        <td ng-click="selectAge(6)"></td>
        <td ng-click="selectAge(7)"></td>
        <td ng-click="selectAge(9)"></td>
        <td ng-click="selectAge(11)"></td>
        <td ng-click="selectAge(14)"></td>
        <td ng-click="selectAge(15)"></td>
        <td ng-click="selectAge(16)"></td>
        <td ng-click="selectAge(17)"><div class="chart-check"></div></td>
      </tr>
      <tr>
        <td class="item-name">how? yesterday?</td>
        <td ng-click="selectAge(0)"></td>
        <td ng-click="selectAge(1)"></td>
        <td ng-click="selectAge(2)"></td>
        <td ng-click="selectAge(3)"></td>
        <td ng-click="selectAge(4)"></td>
        <td ng-click="selectAge(6)"></td>
        <td ng-click="selectAge(7)"></td>
        <td ng-click="selectAge(9)"></td>
        <td ng-click="selectAge(11)"></td>
        <td ng-click="selectAge(14)"></td>
        <td ng-click="selectAge(15)"></td>
        <td ng-click="selectAge(16)"></td>
        <td ng-click="selectAge(17)"></td>
      </tr>
    </table>

    <table ng-show="currentSection == 2">
      <tr>
        <th>Age In Months: </th>
        <th ng-class="{'age-selected': currentAge == 0}">< 2</th>
        <th ng-class="{'age-selected': currentAge == 2}">2</th>
        <th ng-class="{'age-selected': currentAge == 3}">3</th>
        <th ng-class="{'age-selected': currentAge == 4}">4</th>
        <th ng-class="{'age-selected': currentAge == 6}">6</th>
        <th ng-class="{'age-selected': currentAge == 9}">9</th>
        <th ng-class="{'age-selected': currentAge == 12}">12</th>
        <th ng-class="{'age-selected': currentAge == 16}">16</th>
        <th ng-class="{'age-selected': currentAge == 18}">18</th>
        <th ng-class="{'age-selected': currentAge == 28}">28</th>
        <th ng-class="{'age-selected': currentAge == 32}">32</th>
        <th ng-class="{'age-selected': currentAge == 34}">34</th>
        <th ng-class="{'age-selected': currentAge == 36}">36</th>
      </tr>
      <tr>
        <td class="item-name">smiles</td>
        <td ng-click="selectAge(0)"><div class="chart-check"></div></td>
        <td ng-click="selectAge(1)"></td>
        <td ng-click="selectAge(2)"></td>
        <td ng-click="selectAge(3)"></td>
        <td ng-click="selectAge(4)"></td>
        <td ng-click="selectAge(6)"></td>
        <td ng-click="selectAge(7)"></td>
        <td ng-click="selectAge(9)"></td>
        <td ng-click="selectAge(11)"></td>
        <td ng-click="selectAge(14)"></td>
        <td ng-click="selectAge(15)"></td>
        <td ng-click="selectAge(16)"></td>
        <td ng-click="selectAge(17)"></td>
      </tr>
      <tr>
        <td class="item-name">recognizes parents</td>
        <td ng-click="selectAge(0)"></td>
        <td ng-click="selectAge(1)"><div class="chart-check"></div></td>
        <td ng-click="selectAge(2)"></td>
        <td ng-click="selectAge(3)"></td>
        <td ng-click="selectAge(4)"></td>
        <td ng-click="selectAge(6)"></td>
        <td ng-click="selectAge(7)"></td>
        <td ng-click="selectAge(9)"></td>
        <td ng-click="selectAge(11)"></td>
        <td ng-click="selectAge(14)"></td>
        <td ng-click="selectAge(15)"></td>
        <td ng-click="selectAge(16)"></td>
        <td ng-click="selectAge(17)"></td>
      </tr>
      <tr>
        <td class="item-name">recognizes objects</td>
        <td ng-click="selectAge(0)"></td>
        <td ng-click="selectAge(1)"><div class="chart-check"></div></td>
        <td ng-click="selectAge(2)"></td>
        <td ng-click="selectAge(3)"></td>
        <td ng-click="selectAge(4)"></td>
        <td ng-click="selectAge(6)"></td>
        <td ng-click="selectAge(7)"></td>
        <td ng-click="selectAge(9)"></td>
        <td ng-click="selectAge(11)"></td>
        <td ng-click="selectAge(14)"></td>
        <td ng-click="selectAge(15)"></td>
        <td ng-click="selectAge(16)"></td>
        <td ng-click="selectAge(17)"></td>
      </tr>
      <tr>
        <td class="item-name">responds to facial expressions</td>
        <td ng-click="selectAge(0)"></td>
        <td ng-click="selectAge(1)"></td>
        <td ng-click="selectAge(2)"></td>
        <td ng-click="selectAge(3)"><div class="chart-check"></div></td>
        <td ng-click="selectAge(4)"></td>
        <td ng-click="selectAge(6)"></td>
        <td ng-click="selectAge(7)"></td>
        <td ng-click="selectAge(9)"></td>
        <td ng-click="selectAge(11)"></td>
        <td ng-click="selectAge(14)"></td>
        <td ng-click="selectAge(15)"></td>
        <td ng-click="selectAge(16)"></td>
        <td ng-click="selectAge(17)"></td>
      </tr>
      <tr>
        <td class="item-name">initiates games</td>
        <td ng-click="selectAge(0)"></td>
        <td ng-click="selectAge(1)"></td>
        <td ng-click="selectAge(2)"></td>
        <td ng-click="selectAge(3)"></td>
        <td ng-click="selectAge(4)"><div class="chart-check"></div></td>
        <td ng-click="selectAge(6)"></td>
        <td ng-click="selectAge(7)"></td>
        <td ng-click="selectAge(9)"></td>
        <td ng-click="selectAge(11)"></td>
        <td ng-click="selectAge(14)"></td>
        <td ng-click="selectAge(15)"></td>
        <td ng-click="selectAge(16)"></td>
        <td ng-click="selectAge(17)"></td>
      </tr>
      <tr>
        <td class="item-name">initiates conversation</td>
        <td ng-click="selectAge(0)"></td>
        <td ng-click="selectAge(1)"></td>
        <td ng-click="selectAge(2)"></td>
        <td ng-click="selectAge(3)"></td>
        <td ng-click="selectAge(4)"></td>
        <td ng-click="selectAge(6)"></td>
        <td ng-click="selectAge(7)"></td>
        <td ng-click="selectAge(9)"></td>
        <td ng-click="selectAge(11)"></td>
        <td ng-click="selectAge(14)"></td>
        <td ng-click="selectAge(15)"></td>
        <td ng-click="selectAge(16)"><div class="chart-check"></div></td>
        <td ng-click="selectAge(17)"></td>
      </tr>
    </table>
  </div>
</div>

<div ng-show="currentAge >= 0 && currentAge < 2" class="row mt-4 mb-4">
  <div class="col-md-12">
    <div class="card">
      <div class="card-title">What does your infant do before 2 months?</div>
      <div class="card-body">
        <ul ng-show="currentSection == 0">
          <li>Initiates smiling</li>
          <li>Coos and gurgles</li>
        </ul>
        <ul ng-show="currentSection == 1">
          <li>Tracks things with eyes &amp; recognizes familiar people</li>
          <li>Cries to express how they feel</li>
          <li>Calms in response to gentle touch or caregivers’ voice</li>
          <li>Smiles in response to high-pitched vocalizations</li>
        </ul>
        <ul ng-show="currentSection == 2">
          <li>Briefly watches or follows moving objects with eyes</li>
          <li>Gets startled by loud noises</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div ng-show="currentAge == 2" class="row mt-4 mb-4">
  <div class="col-md-12">
    <div class="card">
      <div class="card-title">What does your infant do at 2 months?</div>
      <div class="card-body">
        <ul ng-show="currentSection == 0">
          <li>Makes sounds other than crying</li>
          <li>Makes differing sounds depending on their mood</li>
          <li>Initiates smiling</li>
          <li>Quiets or smiles to a familiar person’s voice</li>
        </ul>
        <ul ng-show="currentSection == 1">
          <li>Looks at others’ faces</li>
          <li>Expresses feelings by crying or smiling</li>
          <li>Relaxes when picked up or spoken to</li>
          <li>Smiles when others smile at them</li>
          <li>Recognizes parents</li>
          <li>Engages in self-soothing strategies such as sucking on their hand</li>
        </ul>
        <ul ng-show="currentSection == 2">
          <li>Maintains fixation on something (toys) for several seconds</li>
          <li>Expresses boredom by crying or acting fussy if activity stays the same for an extended period</li>
          <li>Follows moving object with eyes</li>
          <li>Becomes interested in new objects</li>
          <li>Tracks things with eyes and recognizes familiar people</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div ng-show="currentAge == 3" class="row mt-4 mb-4">
  <div class="col-md-12">
    <div class="card">
      <div class="card-title">What does your infant do at 3 months?</div>
      <div class="card-body">
        <ul ng-show="currentSection == 0">
          <li>Makes sounds back and forth with you</li>
          <li>Coos, makes sounds like ooo, aahh, mmmm</li>
          <li>Turns toward voices or people talking</li>
        </ul>
        <ul ng-show="currentSection == 1">
          <li>Enjoys physical closeness with caregiver – likes being hugged and cuddled</li>
          <li>Smiles or gurgles to catch caregivers’ attention</li>
          <li>Enjoys socializing and playing with others and may cry once play stops</li>
        </ul>
        <ul ng-show="currentSection == 2">
          <li>Begins to use their memory &amp; display anticipatory behaviours in familiar contexts</li>
          <li>Follows moving objects with their eyes</li>
          <li>Reacts to familiar sounds</li>
          <li>Recognizes loved ones and common objects</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div ng-show="currentAge >= 4 && currentAge < 6" class="row mt-4 mb-4">
  <div class="col-md-12">
    <div class="card">
      <div class="card-title">What does your infant do at 4 months?</div>
      <div class="card-body">
        <ul ng-show="currentSection == 0">
          <li>Starts to babble with expression</li>
          <li>Models sounds heard</li>
          <li>Engages in turn-taking conversations/vocalizations</li>
          <li>Makes noises to get caregiver’s attention</li>
          <li>React to toys that make noise</li>
          <li>Chuckles</li>
        </ul>
        <ul ng-show="currentSection == 1">
          <li>Smiles spontaneously at people</li>
          <li>Chuckles when someone tries to get them to laugh</li>
          <li>Mimics caregivers’ movements and expressions, like smiling and frowning</li>
          <li>Attentive to the sound of caregivers’ voice</li>
        </ul>
        <ul ng-show="currentSection == 2">
          <li>Reaches for toys with one hand and brings toys to mouth</li>
          <li>Increased hand-eye coordination</li>
          <li>Follows moving objects by moving eyes from side to side</li>
          <li>Watches faces</li>
          <li>Recognizes familiar objects and people even if they are in the distance</li>
          <li>Starts to differentiate between different shades of the same colour</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div ng-show="currentAge >= 6 && currentAge < 9" class="row mt-4 mb-4">
  <div class="col-md-12">
    <div class="card">
      <div class="card-title">What does your infant do at 6 months?</div>
      <div class="card-body">
        <ul ng-show="currentSection == 0">
          <li>Strings vowels when babbling ‘ah’, ‘oh’</li>
          <li>Begins producing consonant sounds</li>
          <li>Makes different sounds for positive and negative emotions</li>
          <li>Develops a full laugh</li>
          <li>Blows “raspberries” by sticking out tongue and blowing</li>
        </ul>
        <ul ng-show="currentSection == 1">
          <li>Displays pleasure while playing with familiar people</li>
          <li>Knows familiar people</li>
          <li>Responds to others’ expressions</li>
          <li>Giggles and laughs</li>
        </ul>
        <ul ng-show="currentSection == 2">
          <li>Starts to respond to own name</li>
          <li>Shows curiosity for things and reaches for them</li>
          <li>Looks at reflection in mirror</li>
          <li>Reaches to grab toys</li>
          <li>Becomes fascinated by complex patterns and shapes</li>
          <li>Aware of the size of objects and adjusts grip accordingly to grasp different sized objects</li>
          <li>Aware of whether objects are near/far</li>
          <li>Object permanence abilities begin to emerge</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div ng-show="currentAge >= 9 && currentAge < 12" class="row mt-4 mb-4">
  <div class="col-md-12">
    <div class="card">
      <div class="card-title">What does your infant do at 9 months?</div>
      <div class="card-body">
        <ul ng-show="currentSection == 0">
          <li>Makes many different sounds like ‘mamamama’ and ‘babababa’</li>
          <li>Uses finger to point</li>
          <li>Raises arms to be picked up</li>
        </ul>
        <ul ng-show="currentSection == 1">
          <li>Understands ‘no’</li>
          <li>Shy or apprehensive around new people and often gravitates to familiar people</li>
          <li>Seeks caregiver for comfort, help and play</li>
          <li>Displays various facial expressions: happy, sad, angry</li>
          <li>Responsive to own name and makes eye contact if someone calls their name</li>
          <li>Displays a reaction when caregiver leaves them (looks or reaches for caregiver, cries)</li>
        </ul>
        <ul ng-show="currentSection == 2">
          <li>Follows the path of an item falling</li>
          <li>Tries to find objects when dropped out of sight</li>
          <li>Joint attention skills emerge: Infants look in the same direction as their caregivers and mimic what they’re doing to share the same experience</li>
          <li>Turns pages in a book</li>
          <li>Displays signs of curiosity &amp; frequently searches areas of interest</li>
          <li>Picks up small objects using thumb and pointer finger</li>
          <li>Identifies the names of some people and objects</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div ng-show="currentAge == 12" class="row mt-4 mb-4">
  <div class="col-md-12">
    <div class="card">
      <div ng-show="currentAge == 12" class="card-title">What does your child do at 12 months?</div>
      <div class="card-body">
        <ul ng-show="currentSection == 0">
          <li>Uses simple gestures, like shaking head ‘no’, waving ‘bye-bye’, blowing a kiss</li>
          <li>Sounds have tone changes that resemble speech</li>
          <li>Says ‘mama’, or ‘dada’ and can express ‘uh-oh’</li>
          <li>Pays attention and tries to repeat words they hear</li>
          <li>Copies gestures</li>
          <li>Expresses needs by using sounds and pointing</li>
          <li>Comprehends a couple familiar words</li>
        </ul>
        <ul ng-show="currentSection == 1">
          <li>Likes to play games such as patty-cake and peek-a-boo</li>
          <li>Gets upset when caregiver leaves and apprehensive around strangers</li>
          <li>They often play independently and have favourite toys</li>
          <li>Gives you a book when they want you to read a story to them</li>
          <li>Begins to pretend-play</li>
          <li>Play alongside other children but don’t interact directly with them</li>
        </ul>
        <ul ng-show="currentSection == 2">
          <li>Follows simple requests, ‘pick up the toy’, ‘come here’</li>
          <li>Recall experiences that occurred a few hours/days prior</li>
          <li>Explores objects by shaking, dropping, banging or throwing them</li>
          <li>Able to locate hidden objects</li>
          <li>Concentrates when being spoken to</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div ng-show="currentAge >= 13 && currentAge < 18" class="row mt-4 mb-4">
  <div class="col-md-12">
    <div class="card">
      <div ng-show="currentAge == 16" class="card-title">What does your child do at 16 months?</div>
      <div class="card-body">
        <ul ng-show="currentSection == 0">
          <li>Says a few words spontaneously</li>
          <li>Combines sounds and actions (pointing to a cat and saying “ca”)</li>
          <li>May start putting together two-word phrases</li>
          <li>Uses gestures (clapping, waving, pointing) to communicate their desires</li>
          <li>Glances at a familiar object when someone mentions it by name</li>
        </ul>
        <ul ng-show="currentSection == 1">
          <li>May initiate affection (hugging, kissing, cuddling caregiver)</li>
          <li>Copies what they see other children doing</li>
          <li>Experiences separation anxiety when caregiver is not present</li>
          <li>Mimics caregiver doing household activities</li>
          <li>Makes eye contact while talking to you</li>
        </ul>
        <ul ng-show="currentSection == 2">
          <li>Finds simple objects when asked</li>
          <li>Puts toys in mouth less frequently; plays with toys in hand</li>
          <li>Able to identify certain objects by name</li>
          <li>Begins to understand and follow simple one-step commands</li>
          <li>Points to body parts or pictures in a book when asked</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div ng-show="currentAge >= 18 && currentAge < 28" class="row mt-4 mb-4">
  <div class="col-md-12">
    <div class="card">
      <div class="card-title">What does your child do at 18 Months?</div>
      <div class="card-body">
        <ul ng-show="currentSection == 0">
          <li>Says at least 3 words other than ‘mama’ or ‘dada’</li>
          <li>Says and shakes head ‘no’</li>
          <li>Points to direct attention to something interesting</li>
          <li>Understands more words than they can speak</li>
          <li>Can identify some objects by name</li>
          <li>Poses simple questions by making voice rise at the end of a sentence</li>
          <li>Able to string two words together</li>
        </ul>
        <ul ng-show="currentSection == 1">
          <li>Exhibits increased independence and social awareness but still seeks reassurance from caregivers</li>
          <li>Gets attached to a particular object (blanket or stuffed animal)</li>
          <li>Doesn’t play directly with other children but are willing to play beside them</li>
          <li>Likes to show-off their skills to adults, expecting to receive praise</li>
          <li>Plays pretend</li>
          <li>Starts to use toys for their intended purposes</li>
        </ul>
        <ul ng-show="currentSection == 2">
          <li>Understands what simple things are for such as telephone, brush, spoon, TV</li>
          <li>Follows 2-step verbal commands</li>
          <li>Willing to try new things if in the presence of familiar adults</li>
          <li>Helps when getting dressed (eg: pushes arms through sleeve)</li>
          <li>Can locate an object that they watch being moved from one place to another</li>
          <li>Have formed a sense of self and able to see themselves as separate from others</li>
          <li>Show signs of curiosity and likes to grab and move things within reach</li>
          <li>Refers to self using own name</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div ng-show="currentAge >= 28 && currentAge < 32" class="row mt-4 mb-4">
  <div class="col-md-12">
    <div class="card">
      <div ng-show="currentAge == 28" class="card-title">What does your toddler do at 28 months?</div>
      <div class="card-body">
        <ul ng-show="currentSection == 0">
          <li>Says sentences and phrases using 2 to 4 words</li>
          <li>Repeats words they hear from conversations</li>
          <li>Able to use pronouns such as “I”, “me”, “you”</li>
          <li>Responds to simple questions</li>
          <li>Enjoys singing parts of songs</li>
        </ul>
        <ul ng-show="currentSection == 1">
          <li>Displays defiant behaviour</li>
          <li>Plays mostly beside other children and begins to include other children, such as in chase games</li>
          <li>May display jealous behaviour</li>
        </ul>
        <ul ng-show="currentSection == 2">
          <li>Points to things or pictures when they are named</li>
          <li>Familiar with rhymes in books they know</li>
          <li>Can follow 2-step verbal commands such as ‘Pick up your toys and put them in the box’.</li>
          <li>Able to concentrate for longer periods of time (20 minutes if engaged)</li>
          <li>Can sort things by colour and size</li>
          <li>They like having control over their experiences and appreciate making small choices or picking between two options</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div ng-show="currentAge >= 32 && currentAge < 36" class="row mt-4 mb-4">
  <div class="col-md-12">
    <div class="card">
      <div ng-show="currentAge == 32" class="card-title">What does your toddler do at 32 months?</div>
      <div ng-show="currentAge == 34" class="card-title">What does your toddler do at 34 months?</div>
      <div class="card-body">
        <ul ng-show="currentSection == 0">
          <li>Starts practicing using manners: “please”, “thank you”</li>
          <li>Asks “What’s that?”</li>
          <li>Begins to talk in very short sentences to express their likes and dislikes</li>
          <li>Knows how to say at least 100 words, including nouns, verbs, adjectives</li>
          <li>Constructs 3-5 word sentences</li>
        </ul>
        <ul ng-show="currentSection == 1">
          <li>Becomes highly interested in other children and starts developing friendships but may be bossy during play</li>
          <li>Gets sensitive/shy in new social situations</li>
          <li>Practices sharing and taking turns</li>
          <li>Begins to read how others’ are feeling and provide comfort when they see someone upset</li>
        </ul>
        <ul ng-show="currentSection == 2">
          <li>Demonstrates simple problem-solving abilities</li>
          <li>Knows full name</li>
          <li>Has greater impulse control</li>
          <li>Can brush teeth and wash hands independently</li>
          <li>Able to sort objects according to size, shape, pattern and colour</li>
          <li>Fully comprehends object permanence</li>
          <li>Builds simple puzzles</li>
          <li>Understands rules and consequences</li>
          <li>Thrives on consistent routine</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div ng-show="currentAge >= 36" class="row mt-4 mb-4">
  <div class="col-md-12">
    <div class="card">
      <div class="card-title">What does your toddler do at 3 years</div>
      <div class="card-body">
        <ul ng-show="currentSection == 0">
          <li>Understands words like ‘behind’, ‘in’, ‘on’, and ‘under’</li>
          <li>Says words such as ‘I’, ‘me’, ‘we’ and ‘you’ and displays knowledge of plurals (cars, dogs)</li>
          <li>Can speak using 2-3 short sentences</li>
          <li>Asks who, what, where, or why questions</li>
          <li>Uses a vocabulary of more than 500 words and aware of the meaning of more than 3000 words</li>
          <li>Speaks with a sufficient level of clarity that others can usually understand</li>
          <li>Engages in short conversations</li>
        </ul>
        <ul ng-show="currentSection == 1">
          <li>Aware of other children and willingly plays with them</li>
          <li>Takes turns during play</li>
          <li>Separates from caregivers with less distress</li>
          <li>Displays affection towards friends</li>
        </ul>
        <ul ng-show="currentSection == 2">
          <li>Can copy a circle</li>
          <li>Follows 2-step and 3-step verbal commands</li>
          <li>Says first name, age, and gender</li>
          <li>Able to complete puzzles with 3-4 pieces</li>
          <li>Uses imagination to come up with stories</li>
          <li>Understands sentences with two or more ideas: ‘You can have a snack after school’</li>
          <li>Emerging logic skills &amp; asks ‘why’ frequently</li>
          <li>Able to adhere to complex instructions</li>
        </ul>
      </div>
    </div>
  </div>
</div>
