<style>
  th {
    width: 50px;
    text-align: center;
  }

  td {
    width: 20px;
    border-right: 1px solid #e5e5e5;
    cursor: pointer;
  }

  tr {
    border-bottom: 1px solid #e5e5e5;
    height: 35px;
  }

  .item-name {
    width: 200px;
    /*text-transform: uppercase;*/
    font-weight: bold;
    font-size: 1em;
  }

  .chart-check {
    width: 20px;
    height: 20px;
    background-color: #2B4296;
    border-radius: 30px;
    margin: 0 auto;
  }

  .section-btn {
    background-color: white;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    padding: 15px;
    font-size: 1.1em;
    border-radius: 5px;
    color: #2B4296;
    cursor: pointer;
    border: 1px solid #2B4296;
    transition: 300ms ease-in-out all;
  }

  .section-btn-selected {
    background-color: #2B4296;
    color: white;
  }

  .section-btn:hover {
    opacity: 0.75;
  }

  .card-title {
    text-align: center;
    padding: 20px;
    padding-bottom: 0px;
    margin-bottom: 0;
  }

  .card {
    background-color: #24388d;
    color: white;
  }

  .card-body ul {
    font-size: 1.25em;
  }

  .check-red {
    background-color: #A35A59;
  }

  .age-selected {
    background-color: #24388d;
    color: white;
  }

  .checklist-help .card {
    border: 1px solid #24388d;
    color: #24388d;
    background-color: white;
  }
</style>

<div class="row justify-content-center mt-4 mb-4">
  <div class="col-md-4">
    <div class="main-logo"></div>
  </div>
  <div class="col-md-8 text-center">
    <h2 class="mt-4">Speech & Language Development Checklist</h2>
    <p class="mt-4">KIDSPEECH™ || <strong>Speech Pathology, Speech Therapy for Kids & Adults, Certified Life Care Plans<br>and Communication Intermediary Services available in Toronto, GTA and Canada.<br>Some services are available online through video conferencing.</strong></p>
  </div>
</div>

<!-- <h1>Selected Age: {{currentAge}}</h1> -->
<div class="row justify-content-center">
  <div class="section-btn" ng-click="currentSection = 0" ng-class="{'section-btn-selected': currentSection == 0}">Communication / Expressive Skills</div>
  <div class="section-btn" ng-click="currentSection = 1" ng-class="{'section-btn-selected': currentSection == 1}">Social / Emotional</div>
  <div class="section-btn" ng-click="currentSection = 2" ng-class="{'section-btn-selected': currentSection == 2}">Cognition: learning, thinking & problem-solving</div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4 class="text-center m-4" style="color: #943634;">Click on the different dots to learn more</h4>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-12">
    <table ng-show="currentSection == 0">
      <tr>
        <th>Age In Months: </th>
        <th ng-class="{'age-selected': currentAge == 0}">< 2</th>
        <th ng-class="{'age-selected': currentAge == 2}">2</th>
        <th ng-class="{'age-selected': currentAge == 3}">3</th>
        <th ng-class="{'age-selected': currentAge == 4}">4</th>
        <th ng-class="{'age-selected': currentAge == 6}">6</th>
        <th ng-class="{'age-selected': currentAge == 8}">8</th>
        <th ng-class="{'age-selected': currentAge == 10}">10</th>
        <th ng-class="{'age-selected': currentAge == 12}">12</th>
        <th ng-class="{'age-selected': currentAge == 14}">14</th>
        <th ng-class="{'age-selected': currentAge == 16}">16</th>
        <th ng-class="{'age-selected': currentAge == 17}">17</th>
        <th ng-class="{'age-selected': currentAge == 18}">18</th>
        <th ng-class="{'age-selected': currentAge == 20}">20</th>
        <th ng-class="{'age-selected': currentAge == 22}">22</th>
        <th ng-class="{'age-selected': currentAge == 28}">28</th>
        <th ng-class="{'age-selected': currentAge == 32}">32</th>
        <th ng-class="{'age-selected': currentAge == 34}">34</th>
        <th ng-class="{'age-selected': currentAge == 36}">36</th>
      </tr>
      <tr>
        <td class="item-name">coos</td>
        <td ng-click="selectAge(0)"></td>
        <td ng-click="selectAge(1)"><div class="chart-check"></div></td>
        <td ng-click="selectAge(2)"></td>
        <td ng-click="selectAge(3)"></td>
        <td ng-click="selectAge(4)"></td>
        <td ng-click="selectAge(5)"></td>
        <td ng-click="selectAge(6)"></td>
        <td ng-click="selectAge(7)"></td>
        <td ng-click="selectAge(8)"></td>
        <td ng-click="selectAge(9)"></td>
        <td ng-click="selectAge(10)"></td>
        <td ng-click="selectAge(11)"></td>
        <td ng-click="selectAge(12)"></td>
        <td ng-click="selectAge(13)"></td>
        <td ng-click="selectAge(14)"></td>
        <td ng-click="selectAge(15)"></td>
        <td ng-click="selectAge(16)"></td>
        <td ng-click="selectAge(17)"></td>
      </tr>
      <tr>
        <td class="item-name">laughs</td>
        <td ng-click="selectAge(0)"></td>
        <td ng-click="selectAge(1)"></td>
        <td ng-click="selectAge(2)"><div class="chart-check"></div></td>
        <td ng-click="selectAge(3)"></td>
        <td ng-click="selectAge(4)"></td>
        <td ng-click="selectAge(5)"></td>
        <td ng-click="selectAge(6)"></td>
        <td ng-click="selectAge(7)"></td>
        <td ng-click="selectAge(8)"></td>
        <td ng-click="selectAge(9)"></td>
        <td ng-click="selectAge(10)"></td>
        <td ng-click="selectAge(11)"></td>
        <td ng-click="selectAge(12)"></td>
        <td ng-click="selectAge(13)"></td>
        <td ng-click="selectAge(14)"></td>
        <td ng-click="selectAge(15)"></td>
        <td ng-click="selectAge(16)"></td>
        <td ng-click="selectAge(17)"></td>
      </tr>
      <tr>
        <td class="item-name">babbles</td>
        <td ng-click="selectAge(0)"></td>
        <td ng-click="selectAge(1)"></td>
        <td ng-click="selectAge(2)"></td>
        <td ng-click="selectAge(3)"></td>
        <td ng-click="selectAge(4)"></td>
        <td ng-click="selectAge(5)"><div class="chart-check"></div></td>
        <td ng-click="selectAge(6)"></td>
        <td ng-click="selectAge(7)"></td>
        <td ng-click="selectAge(8)"></td>
        <td ng-click="selectAge(9)"></td>
        <td ng-click="selectAge(10)"></td>
        <td ng-click="selectAge(11)"></td>
        <td ng-click="selectAge(12)"></td>
        <td ng-click="selectAge(13)"></td>
        <td ng-click="selectAge(14)"></td>
        <td ng-click="selectAge(15)"></td>
        <td ng-click="selectAge(16)"></td>
        <td ng-click="selectAge(17)"></td>
      </tr>
      <tr>
        <td class="item-name">mama/dada</td>
        <td ng-click="selectAge(0)"></td>
        <td ng-click="selectAge(1)"></td>
        <td ng-click="selectAge(2)"></td>
        <td ng-click="selectAge(3)"></td>
        <td ng-click="selectAge(4)"></td>
        <td ng-click="selectAge(5)"></td>
        <td ng-click="selectAge(6)"><div class="chart-check"></div></td>
        <td ng-click="selectAge(7)"></td>
        <td ng-click="selectAge(8)"></td>
        <td ng-click="selectAge(9)"></td>
        <td ng-click="selectAge(10)"></td>
        <td ng-click="selectAge(11)"></td>
        <td ng-click="selectAge(12)"></td>
        <td ng-click="selectAge(13)"></td>
        <td ng-click="selectAge(14)"></td>
        <td ng-click="selectAge(15)"></td>
        <td ng-click="selectAge(16)"></td>
        <td ng-click="selectAge(17)"></td>
      </tr>
      <tr>
        <td class="item-name">1st word</td>
        <td ng-click="selectAge(0)"></td>
        <td ng-click="selectAge(1)"></td>
        <td ng-click="selectAge(2)"></td>
        <td ng-click="selectAge(3)"></td>
        <td ng-click="selectAge(4)"></td>
        <td ng-click="selectAge(5)"></td>
        <td ng-click="selectAge(6)"></td>
        <td ng-click="selectAge(7)"><div class="chart-check"></div></td>
        <td ng-click="selectAge(8)"></td>
        <td ng-click="selectAge(9)"></td>
        <td ng-click="selectAge(10)"></td>
        <td ng-click="selectAge(11)"></td>
        <td ng-click="selectAge(12)"></td>
        <td ng-click="selectAge(13)"></td>
        <td ng-click="selectAge(14)"></td>
        <td ng-click="selectAge(15)"></td>
        <td ng-click="selectAge(16)"></td>
        <td ng-click="selectAge(17)"></td>
      </tr>
      <tr>
        <td class="item-name">4-6 single words & eye contact</td>
        <td ng-click="selectAge(0)"></td>
        <td ng-click="selectAge(1)"></td>
        <td ng-click="selectAge(2)"></td>
        <td ng-click="selectAge(3)"></td>
        <td ng-click="selectAge(4)"></td>
        <td ng-click="selectAge(5)"></td>
        <td ng-click="selectAge(6)"></td>
        <td ng-click="selectAge(7)"></td>
        <td ng-click="selectAge(8)"></td>
        <td ng-click="selectAge(9)"></td>
        <td ng-click="selectAge(10)"><div class="chart-check"></div></td>
        <td ng-click="selectAge(11)"></td>
        <td ng-click="selectAge(12)"></td>
        <td ng-click="selectAge(13)"></td>
        <td ng-click="selectAge(14)"></td>
        <td ng-click="selectAge(15)"></td>
        <td ng-click="selectAge(16)"></td>
        <td ng-click="selectAge(17)"></td>
      </tr>
      <tr>
        <td class="item-name">tells needs</td>
        <td ng-click="selectAge(0)"></td>
        <td ng-click="selectAge(1)"></td>
        <td ng-click="selectAge(2)"></td>
        <td ng-click="selectAge(3)"></td>
        <td ng-click="selectAge(4)"></td>
        <td ng-click="selectAge(5)"></td>
        <td ng-click="selectAge(6)"></td>
        <td ng-click="selectAge(7)"></td>
        <td ng-click="selectAge(8)"></td>
        <td ng-click="selectAge(9)"></td>
        <td ng-click="selectAge(10)"></td>
        <td ng-click="selectAge(11)"><div class="chart-check"></div></td>
        <td ng-click="selectAge(12)"></td>
        <td ng-click="selectAge(13)"></td>
        <td ng-click="selectAge(14)"></td>
        <td ng-click="selectAge(15)"></td>
        <td ng-click="selectAge(16)"></td>
        <td ng-click="selectAge(17)"></td>
      </tr>
      <tr>
        <td class="item-name">2-word sentences</td>
        <td ng-click="selectAge(0)"></td>
        <td ng-click="selectAge(1)"></td>
        <td ng-click="selectAge(2)"></td>
        <td ng-click="selectAge(3)"></td>
        <td ng-click="selectAge(4)"></td>
        <td ng-click="selectAge(5)"></td>
        <td ng-click="selectAge(6)"></td>
        <td ng-click="selectAge(7)"></td>
        <td ng-click="selectAge(8)"></td>
        <td ng-click="selectAge(9)"></td>
        <td ng-click="selectAge(10)"></td>
        <td ng-click="selectAge(11)"></td>
        <td ng-click="selectAge(12)"><div class="chart-check"></div></td>
        <td ng-click="selectAge(13)"></td>
        <td ng-click="selectAge(14)"></td>
        <td ng-click="selectAge(15)"></td>
        <td ng-click="selectAge(16)"></td>
        <td ng-click="selectAge(17)"></td>
      </tr>
      <tr>
        <td class="item-name">50+ single words</td>
        <td ng-click="selectAge(0)"></td>
        <td ng-click="selectAge(1)"></td>
        <td ng-click="selectAge(2)"></td>
        <td ng-click="selectAge(3)"></td>
        <td ng-click="selectAge(4)"></td>
        <td ng-click="selectAge(5)"></td>
        <td ng-click="selectAge(6)"></td>
        <td ng-click="selectAge(7)"></td>
        <td ng-click="selectAge(8)"></td>
        <td ng-click="selectAge(9)"></td>
        <td ng-click="selectAge(10)"></td>
        <td ng-click="selectAge(11)"></td>
        <td ng-click="selectAge(12)"></td>
        <td ng-click="selectAge(13)"><div class="chart-check"></div></td>
        <td ng-click="selectAge(14)"></td>
        <td ng-click="selectAge(15)"></td>
        <td ng-click="selectAge(16)"></td>
        <td ng-click="selectAge(17)"></td>
      </tr>
      <tr>
        <td class="item-name">uses nouns &amp; verbs</td>
        <td ng-click="selectAge(0)"></td>
        <td ng-click="selectAge(1)"></td>
        <td ng-click="selectAge(2)"></td>
        <td ng-click="selectAge(3)"></td>
        <td ng-click="selectAge(4)"></td>
        <td ng-click="selectAge(5)"></td>
        <td ng-click="selectAge(6)"></td>
        <td ng-click="selectAge(7)"></td>
        <td ng-click="selectAge(8)"></td>
        <td ng-click="selectAge(9)"></td>
        <td ng-click="selectAge(10)"></td>
        <td ng-click="selectAge(11)"></td>
        <td ng-click="selectAge(12)"></td>
        <td ng-click="selectAge(13)"></td>
        <td ng-click="selectAge(14)"></td>
        <td ng-click="selectAge(15)"><div class="chart-check"></div></td>
        <td ng-click="selectAge(16)"></td>
        <td ng-click="selectAge(17)"></td>
      </tr>
      <tr>
        <td class="item-name">talks in sentences</td>
        <td ng-click="selectAge(0)"></td>
        <td ng-click="selectAge(1)"></td>
        <td ng-click="selectAge(2)"></td>
        <td ng-click="selectAge(3)"></td>
        <td ng-click="selectAge(4)"></td>
        <td ng-click="selectAge(5)"></td>
        <td ng-click="selectAge(6)"></td>
        <td ng-click="selectAge(7)"></td>
        <td ng-click="selectAge(8)"></td>
        <td ng-click="selectAge(9)"></td>
        <td ng-click="selectAge(10)"></td>
        <td ng-click="selectAge(11)"></td>
        <td ng-click="selectAge(12)"></td>
        <td ng-click="selectAge(13)"></td>
        <td ng-click="selectAge(14)"></td>
        <td ng-click="selectAge(15)"></td>
        <td ng-click="selectAge(16)"></td>
        <td ng-click="selectAge(17)"><div class="chart-check"></div></td>
      </tr>
      <tr>
        <td class="item-name">uses all speech sounds</td>
        <td ng-click="selectAge(0)"></td>
        <td ng-click="selectAge(1)"></td>
        <td ng-click="selectAge(2)"></td>
        <td ng-click="selectAge(3)"></td>
        <td ng-click="selectAge(4)"></td>
        <td ng-click="selectAge(5)"></td>
        <td ng-click="selectAge(6)"></td>
        <td ng-click="selectAge(7)"></td>
        <td ng-click="selectAge(8)"></td>
        <td ng-click="selectAge(9)"></td>
        <td ng-click="selectAge(10)"></td>
        <td ng-click="selectAge(11)"></td>
        <td ng-click="selectAge(12)"></td>
        <td ng-click="selectAge(13)"></td>
        <td ng-click="selectAge(14)"></td>
        <td ng-click="selectAge(15)"></td>
        <td ng-click="selectAge(16)"></td>
        <td ng-click="selectAge(17)"><div class="chart-check"></td>
      </tr>
    </table>

    <table ng-show="currentSection == 1">
      <tr>
        <th>Age In Months: </th>
        <th ng-class="{'age-selected': currentAge == 0}">< 2</th>
        <th ng-class="{'age-selected': currentAge == 2}">2</th>
        <th ng-class="{'age-selected': currentAge == 3}">3</th>
        <th ng-class="{'age-selected': currentAge == 4}">4</th>
        <th ng-class="{'age-selected': currentAge == 6}">6</th>
        <th ng-class="{'age-selected': currentAge == 8}">8</th>
        <th ng-class="{'age-selected': currentAge == 10}">10</th>
        <th ng-class="{'age-selected': currentAge == 12}">12</th>
        <th ng-class="{'age-selected': currentAge == 14}">14</th>
        <th ng-class="{'age-selected': currentAge == 16}">16</th>
        <th ng-class="{'age-selected': currentAge == 17}">17</th>
        <th ng-class="{'age-selected': currentAge == 18}">18</th>
        <th ng-class="{'age-selected': currentAge == 20}">20</th>
        <th ng-class="{'age-selected': currentAge == 22}">22</th>
        <th ng-class="{'age-selected': currentAge == 28}">28</th>
        <th ng-class="{'age-selected': currentAge == 32}">32</th>
        <th ng-class="{'age-selected': currentAge == 34}">34</th>
        <th ng-class="{'age-selected': currentAge == 36}">36</th>
      </tr>
      <tr>
        <td class="item-name">responds to voice</td>
        <td ng-click="selectAge(0)"><div class="chart-check"></div></td>
        <td ng-click="selectAge(1)"></td>
        <td ng-click="selectAge(2)"></td>
        <td ng-click="selectAge(3)"></td>
        <td ng-click="selectAge(4)"></td>
        <td ng-click="selectAge(5)"></td>
        <td ng-click="selectAge(6)"></td>
        <td ng-click="selectAge(7)"></td>
        <td ng-click="selectAge(8)"></td>
        <td ng-click="selectAge(9)"></td>
        <td ng-click="selectAge(10)"></td>
        <td ng-click="selectAge(11)"></td>
        <td ng-click="selectAge(12)"></td>
        <td ng-click="selectAge(13)"></td>
        <td ng-click="selectAge(14)"></td>
        <td ng-click="selectAge(15)"></td>
        <td ng-click="selectAge(16)"></td>
        <td ng-click="selectAge(17)"></td>
      </tr>
      <tr>
        <td class="item-name">differs sounds</td>
        <td ng-click="selectAge(0)"></td>
        <td ng-click="selectAge(1)"><div class="chart-check"></div></td>
        <td ng-click="selectAge(2)"></td>
        <td ng-click="selectAge(3)"></td>
        <td ng-click="selectAge(4)"></td>
        <td ng-click="selectAge(5)"></td>
        <td ng-click="selectAge(6)"></td>
        <td ng-click="selectAge(7)"></td>
        <td ng-click="selectAge(8)"></td>
        <td ng-click="selectAge(9)"></td>
        <td ng-click="selectAge(10)"></td>
        <td ng-click="selectAge(11)"></td>
        <td ng-click="selectAge(12)"></td>
        <td ng-click="selectAge(13)"></td>
        <td ng-click="selectAge(14)"></td>
        <td ng-click="selectAge(15)"></td>
        <td ng-click="selectAge(16)"></td>
        <td ng-click="selectAge(17)"></td>
      </tr>
      <tr>
        <td class="item-name">responds to "no"</td>
        <td ng-click="selectAge(0)"></td>
        <td ng-click="selectAge(1)"></td>
        <td ng-click="selectAge(2)"></td>
        <td ng-click="selectAge(3)"></td>
        <td ng-click="selectAge(4)"><div class="chart-check"></div></td>
        <td ng-click="selectAge(5)"></td>
        <td ng-click="selectAge(6)"></td>
        <td ng-click="selectAge(7)"></td>
        <td ng-click="selectAge(8)"></td>
        <td ng-click="selectAge(9)"></td>
        <td ng-click="selectAge(10)"></td>
        <td ng-click="selectAge(11)"></td>
        <td ng-click="selectAge(12)"></td>
        <td ng-click="selectAge(13)"></td>
        <td ng-click="selectAge(14)"></td>
        <td ng-click="selectAge(15)"></td>
        <td ng-click="selectAge(16)"></td>
        <td ng-click="selectAge(17)"></td>
      </tr>
      <tr>
        <td class="item-name">1-step command</td>
        <td ng-click="selectAge(0)"></td>
        <td ng-click="selectAge(1)"></td>
        <td ng-click="selectAge(2)"></td>
        <td ng-click="selectAge(3)"></td>
        <td ng-click="selectAge(4)"></td>
        <td ng-click="selectAge(5)"></td>
        <td ng-click="selectAge(6)"></td>
        <td ng-click="selectAge(7)"><div class="chart-check"></div></td>
        <td ng-click="selectAge(8)"></td>
        <td ng-click="selectAge(9)"></td>
        <td ng-click="selectAge(10)"></td>
        <td ng-click="selectAge(11)"></td>
        <td ng-click="selectAge(12)"></td>
        <td ng-click="selectAge(13)"></td>
        <td ng-click="selectAge(14)"></td>
        <td ng-click="selectAge(15)"></td>
        <td ng-click="selectAge(16)"></td>
        <td ng-click="selectAge(17)"></td>
      </tr>
      <tr>
        <td class="item-name">points to body parts</td>
        <td ng-click="selectAge(0)"></td>
        <td ng-click="selectAge(1)"></td>
        <td ng-click="selectAge(2)"></td>
        <td ng-click="selectAge(3)"></td>
        <td ng-click="selectAge(4)"></td>
        <td ng-click="selectAge(5)"></td>
        <td ng-click="selectAge(6)"></td>
        <td ng-click="selectAge(7)"></td>
        <td ng-click="selectAge(8)"></td>
        <td ng-click="selectAge(9)"><div class="chart-check"></div></td>
        <td ng-click="selectAge(10)"></td>
        <td ng-click="selectAge(11)"></td>
        <td ng-click="selectAge(12)"></td>
        <td ng-click="selectAge(13)"></td>
        <td ng-click="selectAge(14)"></td>
        <td ng-click="selectAge(15)"></td>
        <td ng-click="selectAge(16)"></td>
        <td ng-click="selectAge(17)"></td>
      </tr>
      <tr>
        <td class="item-name">maintains eye contact</td>
        <td ng-click="selectAge(0)"></td>
        <td ng-click="selectAge(1)"></td>
        <td ng-click="selectAge(2)"></td>
        <td ng-click="selectAge(3)"></td>
        <td ng-click="selectAge(4)"></td>
        <td ng-click="selectAge(5)"></td>
        <td ng-click="selectAge(6)"></td>
        <td ng-click="selectAge(7)"></td>
        <td ng-click="selectAge(8)"></td>
        <td ng-click="selectAge(9)"></td>
        <td ng-click="selectAge(10)"></td>
        <td ng-click="selectAge(11)"><div class="chart-check"></div></td>
        <td ng-click="selectAge(12)"></td>
        <td ng-click="selectAge(13)"></td>
        <td ng-click="selectAge(14)"></td>
        <td ng-click="selectAge(15)"></td>
        <td ng-click="selectAge(16)"></td>
        <td ng-click="selectAge(17)"></td>
      </tr>
      <tr>
        <td class="item-name">2-step command</td>
        <td ng-click="selectAge(0)"></td>
        <td ng-click="selectAge(1)"></td>
        <td ng-click="selectAge(2)"></td>
        <td ng-click="selectAge(3)"></td>
        <td ng-click="selectAge(4)"></td>
        <td ng-click="selectAge(5)"></td>
        <td ng-click="selectAge(6)"></td>
        <td ng-click="selectAge(7)"></td>
        <td ng-click="selectAge(8)"></td>
        <td ng-click="selectAge(9)"></td>
        <td ng-click="selectAge(10)"></td>
        <td ng-click="selectAge(11)"></td>
        <td ng-click="selectAge(12)"><div class="chart-check"></div></td>
        <td ng-click="selectAge(13)"></td>
        <td ng-click="selectAge(14)"></td>
        <td ng-click="selectAge(15)"></td>
        <td ng-click="selectAge(16)"></td>
        <td ng-click="selectAge(17)"></td>
      </tr>
      <tr>
        <td class="item-name">points to objects described by use</td>
        <td ng-click="selectAge(0)"></td>
        <td ng-click="selectAge(1)"></td>
        <td ng-click="selectAge(2)"></td>
        <td ng-click="selectAge(3)"></td>
        <td ng-click="selectAge(4)"></td>
        <td ng-click="selectAge(5)"></td>
        <td ng-click="selectAge(6)"></td>
        <td ng-click="selectAge(7)"></td>
        <td ng-click="selectAge(8)"></td>
        <td ng-click="selectAge(9)"></td>
        <td ng-click="selectAge(10)"></td>
        <td ng-click="selectAge(11)"></td>
        <td ng-click="selectAge(12)"></td>
        <td ng-click="selectAge(13)"></td>
        <td ng-click="selectAge(14)"><div class="chart-check"></div></td>
        <td ng-click="selectAge(15)"></td>
        <td ng-click="selectAge(16)"></td>
        <td ng-click="selectAge(17)"></td>
      </tr>
      <tr>
        <td class="item-name">complex commands</td>
        <td ng-click="selectAge(0)"></td>
        <td ng-click="selectAge(1)"></td>
        <td ng-click="selectAge(2)"></td>
        <td ng-click="selectAge(3)"></td>
        <td ng-click="selectAge(4)"></td>
        <td ng-click="selectAge(5)"></td>
        <td ng-click="selectAge(6)"></td>
        <td ng-click="selectAge(7)"></td>
        <td ng-click="selectAge(8)"></td>
        <td ng-click="selectAge(9)"></td>
        <td ng-click="selectAge(10)"></td>
        <td ng-click="selectAge(11)"></td>
        <td ng-click="selectAge(12)"></td>
        <td ng-click="selectAge(13)"></td>
        <td ng-click="selectAge(14)"></td>
        <td ng-click="selectAge(15)"><div class="chart-check"></div></td>
        <td ng-click="selectAge(16)"></td>
        <td ng-click="selectAge(17)"></td>
      </tr>
      <tr>
        <td class="item-name">what? who?</td>
        <td ng-click="selectAge(0)"></td>
        <td ng-click="selectAge(1)"></td>
        <td ng-click="selectAge(2)"></td>
        <td ng-click="selectAge(3)"></td>
        <td ng-click="selectAge(4)"></td>
        <td ng-click="selectAge(5)"></td>
        <td ng-click="selectAge(6)"></td>
        <td ng-click="selectAge(7)"></td>
        <td ng-click="selectAge(8)"></td>
        <td ng-click="selectAge(9)"></td>
        <td ng-click="selectAge(10)"></td>
        <td ng-click="selectAge(11)"></td>
        <td ng-click="selectAge(12)"></td>
        <td ng-click="selectAge(13)"></td>
        <td ng-click="selectAge(14)"></td>
        <td ng-click="selectAge(15)"></td>
        <td ng-click="selectAge(16)"></td>
        <td ng-click="selectAge(17)"><div class="chart-check"></div></td>
      </tr>
      <tr>
        <td class="item-name">how? yesterday?</td>
        <td ng-click="selectAge(0)"></td>
        <td ng-click="selectAge(1)"></td>
        <td ng-click="selectAge(2)"></td>
        <td ng-click="selectAge(3)"></td>
        <td ng-click="selectAge(4)"></td>
        <td ng-click="selectAge(5)"></td>
        <td ng-click="selectAge(6)"></td>
        <td ng-click="selectAge(7)"></td>
        <td ng-click="selectAge(8)"></td>
        <td ng-click="selectAge(9)"></td>
        <td ng-click="selectAge(10)"></td>
        <td ng-click="selectAge(11)"></td>
        <td ng-click="selectAge(12)"></td>
        <td ng-click="selectAge(13)"></td>
        <td ng-click="selectAge(14)"></td>
        <td ng-click="selectAge(15)"></td>
        <td ng-click="selectAge(16)"></td>
        <td ng-click="selectAge(17)"></td>
      </tr>
    </table>

    <table ng-show="currentSection == 2">
      <tr>
        <th>Age In Months: </th>
        <th ng-class="{'age-selected': currentAge == 0}">< 2</th>
        <th ng-class="{'age-selected': currentAge == 2}">2</th>
        <th ng-class="{'age-selected': currentAge == 3}">3</th>
        <th ng-class="{'age-selected': currentAge == 4}">4</th>
        <th ng-class="{'age-selected': currentAge == 6}">6</th>
        <th ng-class="{'age-selected': currentAge == 8}">8</th>
        <th ng-class="{'age-selected': currentAge == 10}">10</th>
        <th ng-class="{'age-selected': currentAge == 12}">12</th>
        <th ng-class="{'age-selected': currentAge == 14}">14</th>
        <th ng-class="{'age-selected': currentAge == 16}">16</th>
        <th ng-class="{'age-selected': currentAge == 17}">17</th>
        <th ng-class="{'age-selected': currentAge == 18}">18</th>
        <th ng-class="{'age-selected': currentAge == 20}">20</th>
        <th ng-class="{'age-selected': currentAge == 22}">22</th>
        <th ng-class="{'age-selected': currentAge == 28}">28</th>
        <th ng-class="{'age-selected': currentAge == 32}">32</th>
        <th ng-class="{'age-selected': currentAge == 34}">34</th>
        <th ng-class="{'age-selected': currentAge == 36}">36</th>
      </tr>
      <tr>
        <td class="item-name">smiles</td>
        <td ng-click="selectAge(0)"><div class="chart-check"></div></td>
        <td ng-click="selectAge(1)"></td>
        <td ng-click="selectAge(2)"></td>
        <td ng-click="selectAge(3)"></td>
        <td ng-click="selectAge(4)"></td>
        <td ng-click="selectAge(5)"></td>
        <td ng-click="selectAge(6)"></td>
        <td ng-click="selectAge(7)"></td>
        <td ng-click="selectAge(8)"></td>
        <td ng-click="selectAge(9)"></td>
        <td ng-click="selectAge(10)"></td>
        <td ng-click="selectAge(11)"></td>
        <td ng-click="selectAge(12)"></td>
        <td ng-click="selectAge(13)"></td>
        <td ng-click="selectAge(14)"></td>
        <td ng-click="selectAge(15)"></td>
        <td ng-click="selectAge(16)"></td>
        <td ng-click="selectAge(17)"></td>
      </tr>
      <tr>
        <td class="item-name">recognizes parents</td>
        <td ng-click="selectAge(0)"></td>
        <td ng-click="selectAge(1)"><div class="chart-check"></div></td>
        <td ng-click="selectAge(2)"></td>
        <td ng-click="selectAge(3)"></td>
        <td ng-click="selectAge(4)"></td>
        <td ng-click="selectAge(5)"></td>
        <td ng-click="selectAge(6)"></td>
        <td ng-click="selectAge(7)"></td>
        <td ng-click="selectAge(8)"></td>
        <td ng-click="selectAge(9)"></td>
        <td ng-click="selectAge(10)"></td>
        <td ng-click="selectAge(11)"></td>
        <td ng-click="selectAge(12)"></td>
        <td ng-click="selectAge(13)"></td>
        <td ng-click="selectAge(14)"></td>
        <td ng-click="selectAge(15)"></td>
        <td ng-click="selectAge(16)"></td>
        <td ng-click="selectAge(17)"></td>
      </tr>
      <tr>
        <td class="item-name">recognizes objects</td>
        <td ng-click="selectAge(0)"></td>
        <td ng-click="selectAge(1)"></td>
        <td ng-click="selectAge(2)"><div class="chart-check"></div></td>
        <td ng-click="selectAge(3)"></td>
        <td ng-click="selectAge(4)"></td>
        <td ng-click="selectAge(5)"></td>
        <td ng-click="selectAge(6)"></td>
        <td ng-click="selectAge(7)"></td>
        <td ng-click="selectAge(8)"></td>
        <td ng-click="selectAge(9)"></td>
        <td ng-click="selectAge(10)"></td>
        <td ng-click="selectAge(11)"></td>
        <td ng-click="selectAge(12)"></td>
        <td ng-click="selectAge(13)"></td>
        <td ng-click="selectAge(14)"></td>
        <td ng-click="selectAge(15)"></td>
        <td ng-click="selectAge(16)"></td>
        <td ng-click="selectAge(17)"></td>
      </tr>
      <tr>
        <td class="item-name">responds to facial expressions</td>
        <td ng-click="selectAge(0)"></td>
        <td ng-click="selectAge(1)"></td>
        <td ng-click="selectAge(2)"></td>
        <td ng-click="selectAge(3)"><div class="chart-check"></div></td>
        <td ng-click="selectAge(4)"></td>
        <td ng-click="selectAge(5)"></td>
        <td ng-click="selectAge(6)"></td>
        <td ng-click="selectAge(7)"></td>
        <td ng-click="selectAge(8)"></td>
        <td ng-click="selectAge(9)"></td>
        <td ng-click="selectAge(10)"></td>
        <td ng-click="selectAge(11)"></td>
        <td ng-click="selectAge(12)"></td>
        <td ng-click="selectAge(13)"></td>
        <td ng-click="selectAge(14)"></td>
        <td ng-click="selectAge(15)"></td>
        <td ng-click="selectAge(16)"></td>
        <td ng-click="selectAge(17)"></td>
      </tr>
      <tr>
        <td class="item-name">initiates games</td>
        <td ng-click="selectAge(0)"></td>
        <td ng-click="selectAge(1)"></td>
        <td ng-click="selectAge(2)"></td>
        <td ng-click="selectAge(3)"></td>
        <td ng-click="selectAge(4)"><div class="chart-check"></div></td>
        <td ng-click="selectAge(5)"></td>
        <td ng-click="selectAge(6)"></td>
        <td ng-click="selectAge(7)"></td>
        <td ng-click="selectAge(8)"></td>
        <td ng-click="selectAge(9)"></td>
        <td ng-click="selectAge(10)"></td>
        <td ng-click="selectAge(11)"></td>
        <td ng-click="selectAge(12)"></td>
        <td ng-click="selectAge(13)"></td>
        <td ng-click="selectAge(14)"></td>
        <td ng-click="selectAge(15)"></td>
        <td ng-click="selectAge(16)"></td>
        <td ng-click="selectAge(17)"></td>
      </tr>
      <tr>
        <td class="item-name">initiates conversation</td>
        <td ng-click="selectAge(0)"></td>
        <td ng-click="selectAge(1)"></td>
        <td ng-click="selectAge(2)"></td>
        <td ng-click="selectAge(3)"></td>
        <td ng-click="selectAge(4)"></td>
        <td ng-click="selectAge(5)"></td>
        <td ng-click="selectAge(6)"></td>
        <td ng-click="selectAge(7)"></td>
        <td ng-click="selectAge(8)"></td>
        <td ng-click="selectAge(9)"></td>
        <td ng-click="selectAge(10)"></td>
        <td ng-click="selectAge(11)"></td>
        <td ng-click="selectAge(12)"></td>
        <td ng-click="selectAge(13)"></td>
        <td ng-click="selectAge(14)"></td>
        <td ng-click="selectAge(15)"></td>
        <td ng-click="selectAge(16)"><div class="chart-check"></div></td>
        <td ng-click="selectAge(17)"></td>
      </tr>
    </table>
  </div>
</div>

<div ng-show="currentAge >= 0 && currentAge < 4" class="row mt-4 mb-4">
  <div class="col-md-6">
    <div class="card">
      <div class="card-title">What does your infant do at 2 months?</div>
      <div class="card-body">
        <ul>
          <li>Initiates smiling</li>
          <li>Coos and gurgles sounds</li>
          <li>Tracks things with eyes & recognizes familiar people</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-6 checklist-help">
    <div class="card">
      <div class="card-title">What you can do with your 2 month old infant:</div>
      <div class="card-body">
        <ul>
          <li>Initiates smiling</li>
          <li>Coos and gurgles sounds</li>
          <li>Tracks things with eyes & recognizes familiar people</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div ng-show="currentAge >= 4 && currentAge < 6" class="row mt-4 mb-4">
  <div class="col-md-12">
    <div class="card">
      <div class="card-title">Your Infant At 4 Months</div>
      <div class="card-body">
        <ul>
          <li>Starts to babble</li>
          <li>Babbles with expression and models sounds heard</li>
          <li>Reaches for a toy</li>
          <li>Uses hands and eyes together</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div ng-show="currentAge >= 6 && currentAge < 10" class="row mt-4 mb-4">
  <div class="col-md-12">
    <div class="card">
      <div class="card-title">Your Infant At 6 Months</div>
      <div class="card-body">
        <ul>
          <li>Displays pleasure while playing with familiar people</li>
          <li>Strings vowels when babbling <em>'ah', 'oh'</em></li>
          <li>Responds to own name</li>
          <li>Shows curiosity for things and reaches for them</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div ng-show="currentAge >= 10 && currentAge < 12" class="row mt-4 mb-4">
  <div class="col-md-12">
    <div class="card">
      <div class="card-title">Your Infant At 9 Months</div>
      <div class="card-body">
        <ul>
          <li>Understands <em>'no'</em></li>
          <li>Makes many different sounds like 'mamamama' and 'babababa'</li>
          <li>Uses finger to point</li>
          <li>Follows the path of an item falling</li>
          <li>Likes to play peek-a-boo</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div ng-show="currentAge >= 12 && currentAge < 18" class="row mt-4 mb-4">
  <div class="col-md-12">
    <div class="card">
      <div class="card-title">Your Child At 1 Year</div>
      <div class="card-body">
        <ul>
          <li>Gives you a book when they want you read a story to them</li>
          <li>Likes to play games such as 'peek-a-boo' and 'patty-cake'</li>
          <li>Responds to simple spoken directions</li>
          <li>Uses simple gestures, likes to shake head to 'no' or waves 'bye-bye', blows a kiss</li>
          <li>Sounds have tone changes that resemble speech</li>
          <li>Says 'mama', 'dada' and can express with 'uh-oh!'</li>
          <li>Pays attention and tries to repeat words they hear</li>
          <li>Copies gestures</li>
          <li>Follows simple requests, 'pick up the toy', 'come here'</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div ng-show="currentAge >= 18 && currentAge < 24" class="row mt-4 mb-4">
  <div class="col-md-12">
    <div class="card">
      <div class="card-title">Your Child At 18 Months (1 1/2 Years)</div>
      <div class="card-body">
        <ul>
          <li>Says many single words</li>
          <li>Says and shakes head 'no'</li>
          <li>Points to show what they want</li>
          <li>Understands what simple things are for such as telephone, brush, spoon, TV</li>
          <li>Follows 1-step verbal commands without any gestures</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div ng-show="currentAge >= 24 && currentAge < 36" class="row mt-4 mb-4">
  <div class="col-md-12">
    <div class="card">
      <div class="card-title">Your Toddler At 2 Years</div>
      <div class="card-body">
        <ul>
          <li>Displays defiant behaviour</li>
          <li>Plays mostly beside other children and begins to include other children, such as in chase games</li>
          <li>Can point to things or pictures when they are named</li>
          <li>Says sentences and phrases using 2 to 4 words</li>
          <li>Can repeat words they hear from conversation</li>
          <li>Is familiar with rhymes in books they know</li>
          <li>Can follow 2-step verbal commands such as <em>'Pick up your toys and put them in the box.'</em></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div ng-show="currentAge >= 36" class="row mt-4 mb-4">
  <div class="col-md-12">
    <div class="card">
      <div class="card-title">Your Toddler At 3 Years</div>
      <div class="card-body">
        <ul>
          <li>Follows 2-step and 3-step verbal commands</li>
          <li>Can name many familiar objects</li>
          <li>Understands words like 'behind', 'in', 'on', and 'under'</li>
          <li>Says first name, age, and gender</li>
          <li>Says words such as 'I', 'me', 'we', and 'you' and displays knowledge of plurals (cars, dogs)</li>
          <li>Can speak using 2 to 3 short sentences</li>
          <li>Can copy a circle</li>
        </ul>
      </div>
    </div>
  </div>
</div>