<div class="row justify-content-center mt-4 mb-4">
  <div class="col-md-4">
    <div class="main-logo"></div>
  </div>
  <div class="col-md-8 text-center">
    <h2 class="mt-4">Services</h2>
    <p class="mt-4">KIDSPEECH™ || <strong>Speech Pathology ('speech therapy for kids’),<br>Toronto and GTA Speech-Language Pathologists,<br>certified Life Care Planners - kids, teens, adults</strong></p>
  </div>
</div>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque est, illo voluptas illum facere tempora vero quas natus voluptatem aperiam ratione suscipit itaque nulla laborum, voluptate non sapiente commodi cupiditate.</p>

<div class="row justify-content-center pt-4 mb-4">
  <img src="img/slogan.jpg">
</div>

          <!-- <li>Consultation</li>
          <li>Assessment</li>
          <li>Treatment</li>
          <li>Speech Therapy</li>
          <li>Recommendations</li>
          <li>Bilingual assessments (French/English)</li>
          <li>Articulation skills</li>
          <li>Language development </li>
          <li>Strokes </li>
          <li>Social Skills </li>
          <li>Memory </li>
          <li>Executive Functions</li>
          <li>Acquired brain injuries </li>
          <li>Pre-linguistic skills</li>
          <li>Complications from: Acquired head/brain injuries</li>
          <li>Spinal cord injuries </li>
          <li>Birth injuries </li>
          <li>Dental injuries (TMJ) </li>
          <li>Concussions </li>
          <li>Reading and writing </li>
          <li>Early literacy skills </li>
          <li>Digital literacy </li>
          <li>Myofunctional skills</li>
          <li>Drooling, tongue thrusting & TMJ disorders</li>
          <li>Voice, Vocal Abuse, Hoarseness</li>
          <li>Fluency (children & youth)  - Stuttering and Cluttering</li>
          <li>ESL, bilingualism & French immersion </li>
          <li>Play Skills</li> -->

          <!-- rehab --<


          <li>Rehab Case Management</li>
          <li>Rehab Services</li>
          <li>Other Services</li>
